@using System.Globalization
@{
    // Set the layout for the page
    Layout = "/Views/shared_admin/_standard_layout.cshtml";

    // Get form data
    List<ValueAddedTax> valueAddedTaxes = ValueAddedTax.GetAll("id", "ASC");
    List<Unit> units = ViewBag.Units;
    AdditionalService additionalService = ViewBag.AdditionalService;
    string returnUrl = ViewBag.ReturnUrl;
    string error_message = ViewBag.ErrorMessage != null ? ViewBag.ErrorMessage : string.Empty;

    // Get translated texts
    KeyStringList tt = ViewBag.TranslatedTexts;
    string additional_service_tt = tt.Get("additional_service");
    string new_tt = tt.Get("new");
    string edit_tt = tt.Get("edit");
    string id_tt = tt.Get("id");
    string product_code_tt = tt.Get("product_code");
    string name_tt = tt.Get("name");
    string fee_tt = tt.Get("fee");
    string unit_tt = tt.Get("unit");
    string price_based_on_mount_time_tt = tt.Get("price_based_on_mount_time");
    string value_added_tax_tt = tt.Get("value_added_tax");
    string account_code_tt = tt.Get("account_code");
    string inactive_tt = tt.Get("inactive");
    string save_tt = tt.Get("save");
    string cancel_tt = tt.Get("cancel");

    // Set the title for the page
    if (additionalService.id == 0)
    {
        ViewBag.Title = additional_service_tt + " - " + new_tt.ToLower();
    }
    else
    {
        ViewBag.Title = additional_service_tt + " - " + edit_tt.ToLower();
    }
}

<h1>@ViewBag.Title</h1>
@*Menu*@
@Html.Partial("~/Views/admin_additional_services/_form_menu.cshtml")

@*Main form*@
@using (Html.BeginForm("edit", "admin_additional_services", FormMethod.Post))
{
    <input name="returnUrl" type="hidden" value="@returnUrl" />
    <div class="annytab-form-error-message" style="@(error_message != "" ? "display:block;" : "display:none;")">@Html.Raw(error_message)</div>

    @*Input form table*@
    <div class="annytab-input-form-table">
        <div class="annytab-input-form-row" style="@(additionalService.id != 0 ? "display:table-row;" : "display:none;")">
            <div class="annytab-input-form-column-label">@(id_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtId" type="text" class="annytab-form-textbox" tabindex="-1" readonly="readonly" value="@additionalService.id" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(product_code_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input id="txtProductCode" name="txtProductCode" type="text" class="annytab-form-textbox" value="@additionalService.product_code" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(name_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtName" type="text" class="annytab-form-textbox" value="@additionalService.name" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(fee_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtFee" type="number" step="any" class="annytab-form-textbox" value="@additionalService.fee.ToString(CultureInfo.InvariantCulture)" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(unit_tt + ":")</div>
            <div class="annytab-input-form-column-input">
                <select name="selectUnit" class="annytab-form-select">
                    @foreach (Unit unit in units)
                    {
                        <option value="@unit.id.ToString()" @(additionalService.unit_id == unit.id ? Html.Raw("selected='selected'") : Html.Raw(""))>@(unit.name + " (" + unit.unit_code + ")")</option>
                    }
                </select>
            </div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(price_based_on_mount_time_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="cbPriceBasedOnMountTime" type="checkbox" class="annytab-form-checkbox" value="true" @(additionalService != null && additionalService.price_based_on_mount_time == true ? Html.Raw("checked='checked'") : Html.Raw("")) /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(value_added_tax_tt + ":")</div>
            <div class="annytab-input-form-column-input">
                <select name="selectValueAddedTax" class="annytab-form-select">
                    @foreach (ValueAddedTax valueAddedTax in valueAddedTaxes)
                    {
                        <option value="@valueAddedTax.id.ToString()" @(additionalService.value_added_tax_id == valueAddedTax.id ? Html.Raw("selected='selected'") : Html.Raw(""))>@((valueAddedTax.value * 100).ToString() + "%")</option>
                    }
                </select>
            </div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(account_code_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtAccountCode" type="text" class="annytab-form-textbox" value="@additionalService.account_code" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(inactive_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="cbInactive" type="checkbox" class="annytab-form-checkbox" value="true" @(additionalService != null && additionalService.inactive == true ? Html.Raw("checked='checked'") : Html.Raw("")) /></div>
        </div>
    </div>

    @*Button panel*@
    <div style="display:block;border:1px solid #cccccc;margin:20px 0px 0px 0px;border-radius:4px;">
        <input id="btnSave" type="submit" class="annytab-form-button" value="@save_tt" />
        <input type="button" value="@cancel_tt" class="annytab-form-button" onclick="@Html.Raw("location.href='/admin_additional_services" + returnUrl + "'")" />
    </div>
}

@section scripts {
    <script type="text/javascript">$("#txtProductCode").focus();</script>
}