@{
    // Set the layout for the page
    Layout = "/Views/shared_admin/_standard_layout.cshtml";

    // Get values
    Domain domain = ViewBag.CurrentDomain;
    ProductReview productReview = ViewBag.ProductReview;
    Product product = Product.GetOneById(productReview.product_id, domain.back_end_language);
    Customer customer = Customer.GetOneById(productReview.customer_id);
    Language language = Language.GetOneById(productReview.language_id, domain.back_end_language);
    KeyStringList tt = ViewBag.TranslatedTexts;
    string returnUrl = ViewBag.ReturnUrl;

    // Get translated texts
    string review_tt = tt.Get("review");
    string id_tt = tt.Get("id");
    string language_tt = tt.Get("language");
    string product_tt = tt.Get("product");
    string customer_tt = tt.Get("customer");
    string rating_tt = tt.Get("rating");
    string edit_tt = tt.Get("edit");
    string text_tt = tt.Get("text");
    string save_tt = tt.Get("save");
    string cancel_tt = tt.Get("cancel");

    // Set the title for the page
    ViewBag.Title = review_tt + " - " + edit_tt.ToLower();  
}

@*Title*@
<h1>@ViewBag.Title</h1>

@*Menu*@
@Html.Partial("~/Views/admin_product_reviews/_form_menu.cshtml")

@*Main form*@
@using (Html.BeginForm("edit", "admin_product_reviews", FormMethod.Post))
{
    @*Hidden data*@
    <input name="returnUrl" type="hidden" value="@returnUrl" />
    
    @*Input form table*@
    <div class="annytab-input-form-table">
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(id_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtId" type="text" class="annytab-form-textbox" tabindex="-1" readonly="readonly" value="@productReview.id.ToString()" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(language_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input type="text" class="annytab-form-textbox" tabindex="-1" readonly="readonly" value="@language.name" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(product_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input type="text" class="annytab-form-textbox" tabindex="-1" readonly="readonly" value="@product.title" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(customer_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input type="text" class="annytab-form-textbox" tabindex="-1" readonly="readonly" value="@customer.invoice_name" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(rating_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input type="text" class="annytab-form-textbox" tabindex="-1" readonly="readonly" value="@productReview.rating.ToString()" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(text_tt + ":")</div>
            <div class="annytab-input-form-column-input"><textarea id="txtReviewText" name="txtReviewText" class="annytab-form-textarea" rows="10">@productReview.review_text</textarea></div>
        </div>
    </div>

    @*Button panel*@
    <div style="display:block;border:1px solid #cccccc;margin:20px 0px 0px 0px;border-radius:4px;">
        <input id="btnSave" type="submit" class="annytab-form-button" value="@save_tt" />
        <input type="button" class="annytab-form-button" value="@cancel_tt" onclick="@Html.Raw("location.href='/admin_product_reviews" + returnUrl + "'")" />
    </div>
}

@section scripts {
    <script type="text/javascript">$("#txtReviewText").focus();</script>
}