@{
    // Set the layout for the page
    Layout = "/Views/shared_admin/_standard_layout.cshtml";

    // Get values
    List<Language> languages = ViewBag.Languages;
    List<Country> countries = ViewBag.Countries;
    Customer customer = ViewBag.Customer;
    KeyStringList tt = ViewBag.TranslatedTexts;
    string returnUrl = ViewBag.ReturnUrl;
    string error_message = ViewBag.ErrorMessage != null ? ViewBag.ErrorMessage : string.Empty;

    // Get translated texts
    string customer_tt = tt.Get("customer");
    string new_tt = tt.Get("new");
    string edit_tt = tt.Get("edit");
    string no_choice_tt = tt.Get("no_choice");
    string id_tt = tt.Get("id");
    string language_tt = tt.Get("language");
    string email_tt = tt.Get("email");
    string password_tt = tt.Get("password");
    string customer_type_tt = tt.Get("customer_type");
    string company_tt = tt.Get("company");
    string private_person_tt = tt.Get("private_person");
    string organization_number_tt = tt.Get("organization_number");
    string vat_number_tt = tt.Get("vat_number");
    string reference_tt = tt.Get("reference");
    string phone_number_tt = tt.Get("phone_number");
    string mobile_phone_number_tt = tt.Get("mobile_phone_number");
    string name_tt = tt.Get("name");
    string address_tt = tt.Get("address");
    string post_code_tt = tt.Get("post_code");
    string city_tt = tt.Get("city");
    string country_tt = tt.Get("country");
    string invoice_address_tt = tt.Get("invoice_address");
    string delivery_address_tt = tt.Get("delivery_address");
    string copy_invoice_address_tt = tt.Get("copy_invoice_address");
    string want_newsletter_tt = tt.Get("want_newsletter");
    string save_tt = tt.Get("save");
    string cancel_tt = tt.Get("cancel");
    
    // Set the title for the page
    if (customer.id == 0)
    {
        ViewBag.Title = customer_tt + " - " + new_tt.ToLower();
    }
    else
    {
        ViewBag.Title = customer_tt + " - " + edit_tt.ToLower();
    }
}

@*Title*@
<h1>@ViewBag.Title</h1>

@*Menu*@
@Html.Partial("~/Views/admin_customers/_form_menu.cshtml")

@*Main form*@
@using (Html.BeginForm("edit", "admin_customers", FormMethod.Post))
{
    @*Hidden data*@
    <input name="returnUrl" type="hidden" value="@returnUrl" />
    <div class="annytab-form-error-message" style="@(error_message != "" ? "display:block;" : "display:none;")">@Html.Raw(error_message)</div>
    
    @*Input form table*@
    <div class="annytab-input-form-table">
        <div class="annytab-input-form-row" style="@(customer.id != 0 ? "display:table-row;" : "display:none;")">
            <div class="annytab-input-form-column-label">@(id_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtId" type="text" class="annytab-form-textbox" tabindex="-1" readonly="readonly" value="@customer.id" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(language_tt + ":")</div>
            <div class="annytab-input-form-column-input">
                <select id="selectLanguage" name="selectLanguage" class="annytab-form-select">
                    <option value="0" @(customer.language_id == 0 ? Html.Raw("selected='selected'") : Html.Raw(""))>@("-- " + no_choice_tt + " --")</option>
                    @foreach (Language language in languages)
                    {
                        <option value="@language.id" @(language.id == customer.language_id ? Html.Raw("selected='selected'") : Html.Raw(""))>@language.name</option>
                    }
                </select>
            </div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(email_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtEmail" type="text" class="annytab-form-textbox" value="@customer.email" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(password_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtPassword" type="password" class="annytab-form-textbox" value="" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(customer_type_tt + ":")</div>
            <div class="annytab-input-form-column-input">
                <input name="customerType" type="radio" class="annytab-form-radio" value="0" @(customer.customer_type == 0 ? Html.Raw("checked='checked'") : Html.Raw("")) /><span style="vertical-align:middle;">@company_tt</span>
                <input name="customerType" type="radio" class="annytab-form-radio" value="1" @(customer.customer_type == 1 ? Html.Raw("checked='checked'") : Html.Raw("")) /><span style="vertical-align:middle;">@private_person_tt</span>
            </div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(organization_number_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtOrgNumber" type="text" class="annytab-form-textbox" value="@customer.org_number" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(vat_number_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtVatNumber" type="text" class="annytab-form-textbox" value="@customer.vat_number" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(reference_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtContactName" type="text" class="annytab-form-textbox" value="@customer.contact_name" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(phone_number_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtPhoneNumber" type="text" class="annytab-form-textbox" value="@customer.phone_number" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(mobile_phone_number_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtMobilePhoneNumber" type="text" class="annytab-form-textbox" value="@customer.mobile_phone_number" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(want_newsletter_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="cbNewsletter" type="checkbox" class="annytab-form-checkbox" value="true" @(customer != null && customer.newsletter == true ? Html.Raw("checked='checked'") : Html.Raw("")) /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@("Facebook user id:")</div>
            <div class="annytab-input-form-column-input"><input name="txtFacebookUserId" type="text" class="annytab-form-textbox" value="@customer.facebook_user_id" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@("Google user id:")</div>
            <div class="annytab-input-form-column-input"><input name="txtGoogleUserId" type="text" class="annytab-form-textbox" value="@customer.google_user_id" /></div>
        </div>
        <div class="annytab-basic-space"></div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label" style="border-bottom:1px solid #cccccc;font-weight:bold;font-size:16px;">@invoice_address_tt</div>
            <div class="annytab-input-form-column-input" style="border-bottom:1px solid #cccccc;"></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(name_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input id="txtInvoiceName" name="txtInvoiceName" type="text" class="annytab-form-textbox" value="@customer.invoice_name" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(address_tt + "1:")</div>
            <div class="annytab-input-form-column-input"><input id="txtInvoiceAddress1" name="txtInvoiceAddress1" type="text" class="annytab-form-textbox" value="@customer.invoice_address_1" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(address_tt + "2:")</div>
            <div class="annytab-input-form-column-input"><input id="txtInvoiceAddress2" name="txtInvoiceAddress2" type="text" class="annytab-form-textbox" value="@customer.invoice_address_2" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(post_code_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input id="txtInvoicePostCode" name="txtInvoicePostCode" type="text" class="annytab-form-textbox" value="@customer.invoice_post_code" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(city_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input id="txtInvoiceCity" name="txtInvoiceCity" type="text" class="annytab-form-textbox" value="@customer.invoice_city" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(country_tt + ":")</div>
            <div class="annytab-input-form-column-input">
                <select id="selectInvoiceCountry" name="selectInvoiceCountry" class="annytab-form-select">
                    <option value="0" @(customer.invoice_country == 0 ? Html.Raw("selected='selected'") : Html.Raw(""))>@("-- " + no_choice_tt + " --")</option>
                    @foreach (Country country in countries)
                    {
                        <option value="@country.id" @(customer.invoice_country == country.id ? Html.Raw("selected='selected'") : Html.Raw(""))>@country.name</option>
                    }
                </select>
            </div>
        </div>
        <div class="annytab-basic-space"></div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label" style="border-bottom:1px solid #cccccc;font-weight:bold;font-size:16px;">@delivery_address_tt</div>
            <div class="annytab-input-form-column-input" style="border-bottom:1px solid #cccccc;"></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label" style="border-bottom:1px solid #cccccc;"><button id="copyInvoiceAddress" class="annytab-form-button">@copy_invoice_address_tt</button></div>
            <div class="annytab-input-form-column-input" style="border-bottom:1px solid #cccccc;"></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(name_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input id="txtDeliveryName" name="txtDeliveryName" type="text" class="annytab-form-textbox" value="@customer.delivery_name" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(address_tt + "1:")</div>
            <div class="annytab-input-form-column-input"><input id="txtDeliveryAddress1" name="txtDeliveryAddress1" type="text" class="annytab-form-textbox" value="@customer.delivery_address_1" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(address_tt + "2:")</div>
            <div class="annytab-input-form-column-input"><input id="txtDeliveryAddress2" name="txtDeliveryAddress2" type="text" class="annytab-form-textbox" value="@customer.delivery_address_2" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(post_code_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input id="txtDeliveryPostCode" name="txtDeliveryPostCode" type="text" class="annytab-form-textbox" value="@customer.delivery_post_code" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(city_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input id="txtDeliveryCity" name="txtDeliveryCity" type="text" class="annytab-form-textbox" value="@customer.delivery_city" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(country_tt + ":")</div>
            <div class="annytab-input-form-column-input">
                <select id="selectDeliveryCountry" name="selectDeliveryCountry" class="annytab-form-select">
                    <option value="0" @(customer.invoice_country == 0 ? Html.Raw("selected='selected'") : Html.Raw(""))>@("-- " + no_choice_tt + " --")</option>
                    @foreach (Country country in countries)
                    {
                        <option value="@country.id" @(customer.delivery_country == country.id ? Html.Raw("selected='selected'") : Html.Raw(""))>@country.name</option>
                    }
                </select>
            </div>
        </div>
    </div>

    @*Button panel*@
    <div style="display:block;border:1px solid #cccccc;margin:20px 0px 0px 0px;border-radius:4px;">
        <input id="btnSave" type="submit" class="annytab-form-button" value="@save_tt" />
        <input type="button" class="annytab-form-button" value="@cancel_tt" onclick="@Html.Raw("location.href='/admin_customers" + returnUrl + "'")" />
    </div>
}

@section scripts {
    <script type="text/javascript">$("#selectLanguage").focus();</script>
}