@{
    // Set the layout for the page
    Layout = "/Views/shared_admin/_standard_layout.cshtml";
    
    // Get form values
    Domain domain = ViewBag.CurrentDomain;
    List<Language> languages = Language.GetAll(domain.back_end_language, "name", "ASC");
    KeyStringList tt = ViewBag.TranslatedTexts;
    QueryParams parameters = ViewBag.QueryParams;
    string queryString = QueryParams.GetQueryString(parameters);
    
    // Create a clean string with keywords
    string cleanKeywords = parameters.keywords.Replace("+", "");

    // Create an array with search words
    string[] words = cleanKeywords.Split(' ');

    // Count the number of posts
    Int32 count = Customer.GetCountBySearch(words);

    // Get the number of pages
    Int32 numberOfPages = Convert.ToInt32(Math.Ceiling(((double)count / parameters.page_size)));
    numberOfPages = numberOfPages == 0 ? 1 : numberOfPages;

    // Get customer by keywords in search
    List<Customer> customers = Customer.GetBySearch(words, parameters.page_size, parameters.current_page, parameters.sort_field, parameters.sort_order);

    // Get translated texts
    string customer_tt = tt.Get("customer");
    string list_tt = tt.Get("list");
    string no_choice_tt = tt.Get("no_choice");
    string id_tt = tt.Get("id");
    string export_email_addresses_tt = tt.Get("export_email_addresses");
    string name_tt = tt.Get("name");
    string email_tt = tt.Get("email");
    string edit_tt = tt.Get("edit");
    string log_in_tt = tt.Get("log_in");
    string files_tt = tt.Get("files");
    string delete_tt = tt.Get("delete");

    // Set paging data
    ViewBag.CurrentPage = parameters.current_page;
    ViewBag.NumberOfPages = numberOfPages;
    ViewBag.NavigateUrl = "/admin_customers?kw=" + Server.UrlEncode(parameters.keywords) + "&sf=" + parameters.sort_field + "&so=" + parameters.sort_order + "&pz=" + parameters.page_size + "&qp={0}";

    // Set the page title
    ViewBag.Title = customer_tt + " - " + list_tt.ToLower();
}

@*Title*@
<h1>@ViewBag.Title</h1>

@*Menu*@
@Html.Partial("~/Views/admin_customers/_form_menu.cshtml")

@*Action menu bar*@
<div class="annytab-form-menubar">
    @using (Html.BeginForm("export_email_addresses", "admin_customers", FormMethod.Post))
    {
        <input name="returnUrl" type="hidden" value="@queryString" />
        <div style="padding:2px;background-color:#f0f0f0;">
            <select name="selectLanguage" class="annytab-form-select" style="width:300px;">
                <option value="0" selected="selected">@("-- " + no_choice_tt + " --")</option>
                @foreach (Language language in languages)
                {
                    <option value="@language.id">@language.name</option>
                }
            </select>
            <input type="submit" class="annytab-form-button" value="@(export_email_addresses_tt)" />
        </div>
    } 
</div>

@*List of customers*@
<div class="annytab-list-container">
    <div class="annytab-list-table" style="width:956px;">
        <div class="annytab-list-row">
            <div class="annytab-list-column-head" style="text-align:center;width:100px;">@id_tt</div>
            <div class="annytab-list-column-head" style="text-align:left;width:200px;">@name_tt</div>
            <div class="annytab-list-column-head" style="text-align:left;width:200px;">@email_tt</div>
            <div class="annytab-list-column-head" style="text-align:center;width:100px;">@log_in_tt</div>
            <div class="annytab-list-column-head" style="text-align:center;width:100px;">@edit_tt</div>
            <div class="annytab-list-column-head" style="text-align:center;width:100px;">@files_tt</div>
            <div class="annytab-list-column-head" style="text-align:center;width:100px;">@delete_tt</div>
        </div>

        @for (int i = 0; i < customers.Count; i++)
        {
            @:<div class="@(i % 2 != 0 ? "annytab-list-row-main" : "annytab-list-row-alt")">
            @:<div class="annytab-list-column" style="text-align:center;width:100px;">@customers[i].id.ToString()</div>
            @:<div class="annytab-list-column" style="text-align:left;width:200px;">@customers[i].invoice_name.ToString()</div>
            @:<div class="annytab-list-column" style="text-align:left;width:200px;">@customers[i].email.ToString()</div>
            @:<div class="annytab-list-column" style="text-align:center;width:100px;"><input type="button" class="annytab-form-button" value="@log_in_tt" onclick="location.href='@Url.Action("log_in_as", "admin_customers", new { id = customers[i].id, returnUrl = queryString })'" /></div>
            @:<div class="annytab-list-column" style="text-align:center;width:100px;"><input type="button" class="annytab-form-button" value="@edit_tt" onclick="location.href='@Url.Action("edit", "admin_customers", new { id = customers[i].id, returnUrl = queryString })'" /></div>
            @:<div class="annytab-list-column" style="text-align:center;width:100px;"><input type="button" class="annytab-form-button" value="@files_tt" onclick="location.href='@Url.Action("files", "admin_customers", new { id = customers[i].id, returnUrl = queryString })'" /></div>
            @:<div class="annytab-list-column" style="text-align:center;width:100px;"><input data-id="deletePost" type="button" class="annytab-form-button" value="@delete_tt" @(Html.Raw("data-url='/admin_customers/delete/" + customers[i].id + "?returnUrl=" + Server.UrlEncode(queryString) + "'")) /></div>
            @:</div>
        }
    </div>
</div>

@*Paging menu*@
@Html.Partial("/Views/shared_admin/_paging_menu.cshtml")

@section scripts {
    <script type="text/javascript">$("#txtSearch").focus();</script>
}