@using System.Globalization
@{
    // Set the layout for the page
    Layout = "/Views/shared_admin/_standard_layout.cshtml";

    // Declare variables
    string countryCode = "";
    string year = "";
    string datepart = "";
    Int32 groupBy = 1;
    Int32 pageSize = 10;
    Int32 page = 1;

    // Get the country code
    if (Request.Params["cc"] != null)
    {
        countryCode = Request.Params["cc"];
    }

    // Get the year
    if (Request.Params["year"] != null)
    {
        year = Request.Params["year"];
    }

    // Get the datepart
    if (Request.Params["dp"] != null)
    {
        datepart = Request.Params["dp"];
    }
    
    // Get the group by parameter
    if (Request.Params["gb"] != null)
    {
        try
        {
            groupBy = Int32.Parse(Request.Params["gb"]);
        }
        catch (Exception ex)
        {
            string exceptionMessage = ex.Message;
        }
    }

    // Get the page size
    if (Request.Params["pz"] != null)
    {
        try
        {
            pageSize = Int32.Parse(Request.Params["pz"]);
        }
        catch (Exception ex)
        {
            string exceptionMessage = ex.Message;
        }
    }
    
    // Get the page number
    if (Request.Params["qp"] != null)
    {
        try
        {
            page = Int32.Parse(Request.Params["qp"]);
        }
        catch (Exception ex)
        {
            string exceptionMessage = ex.Message;
            page = 1;
        }
    }
    
    // Get form data
    Domain domain = ViewBag.CurrentDomain;
    Language currentLanguage = Language.GetOneById(domain.back_end_language);
    CultureInfo cultureInfo = Tools.GetCultureInfo(currentLanguage);
    KeyStringList tt = ViewBag.TranslatedTexts;

    // Count the number of posts and get them
    Int32 count = 0;
    List<Order> orders = new List<Order>(10);
    if (groupBy == 0)
    {
        count = Order.GetCountByYear(countryCode, year);
        orders = Order.GetByYear(countryCode, year, pageSize, page, "id", "DESC");
    }
    else if (groupBy == 2)
    {
        count = Order.GetCountByWeek(countryCode, year, datepart);
        orders = Order.GetByWeek(countryCode, year, datepart, pageSize, page, "id", "DESC");
    }
    else if (groupBy == 3)
    {
        count = Order.GetCountByDay(countryCode, year, datepart);
        orders = Order.GetByDay(countryCode, year, datepart, pageSize, page, "id", "DESC");
    }
    else
    {
        count = Order.GetCountByMonth(countryCode, year, datepart);
        orders = Order.GetByMonth(countryCode, year, datepart, pageSize, page, "id", "DESC");
    }

    // Get the number of pages
    Int32 numberOfPages = Convert.ToInt32(Math.Ceiling(((double)count / pageSize)));
    numberOfPages = numberOfPages == 0 ? 1 : numberOfPages;

    // Get translated texts
    string orders_tt = tt.Get("orders");
    string order_statistics_tt = tt.Get("order_statistics");
    string order_number_tt = tt.Get("order_number");
    string name_tt = tt.Get("name");
    string order_date_tt = tt.Get("order_date");
    string sum_tt = tt.Get("sum");
    string value_added_tax_tt = tt.Get("value_added_tax");
    string total_sum_tt = tt.Get("total_sum");
    string print_tt = tt.Get("print");

    // Set paging data
    ViewBag.CurrentPage = page;
    ViewBag.NumberOfPages = numberOfPages;
    ViewBag.NavigateUrl = "/admin_default/order_sale_data?year=" + year + "&dp=" + datepart + "&cc=" + countryCode + "&gb=" + groupBy + "&pz=" + pageSize + "&qp={0}";
    
    // The period string
    string period = year;
    period += datepart != "0" ? " - " + datepart : "";
    period += countryCode != "" ? " (" + countryCode + ")" : "";

    // Set the page title
    ViewBag.Title = orders_tt + " " + period;
}

@*Title*@
<h1>@ViewBag.Title</h1>

@*Menu*@
<div class="annytab-form-menubar">
    <input type="button" class="annytab-form-button" value="@order_statistics_tt" onclick="location.href='@Url.Action("index", "admin_default", new {cc = countryCode, gb = groupBy, pz = pageSize})'" />
</div>

@*List of orders*@
<div class="annytab-list-container">
    <div class="annytab-list-table" style="width:1056px;">
        <div class="annytab-list-row">
            <div class="annytab-list-column-head" style="text-align:center;width:150px;">@order_number_tt</div>
            <div class="annytab-list-column-head" style="text-align:left;width:200px;">@name_tt</div>
            <div class="annytab-list-column-head" style="text-align:left;width:100px;">@order_date_tt</div>
            <div class="annytab-list-column-head" style="text-align:right;width:150px;">@sum_tt</div>
            <div class="annytab-list-column-head" style="text-align:right;width:150px;">@value_added_tax_tt</div>
            <div class="annytab-list-column-head" style="text-align:right;width:150px;">@total_sum_tt</div>
            <div class="annytab-list-column-head" style="text-align:center;width:100px;">@print_tt</div>
        </div>

        @for (int i = 0; i < orders.Count; i++)
        {
            @:<div class="@(i % 2 != 0 ? "annytab-list-row-main" : "annytab-list-row-alt")">
            @:<div class="annytab-list-column" style="text-align:center;width:150px;">@orders[i].id</div>
            @:<div class="annytab-list-column" style="text-align:left;width:200px;">@orders[i].invoice_name</div>
            @:<div class="annytab-list-column" style="text-align:left;width:100px;">@orders[i].order_date.ToString("d", cultureInfo)</div>
            @:<div class="annytab-list-column" style="text-align:right;width:150px;">@orders[i].net_sum.ToString("##,0.##", cultureInfo)</div>
            @:<div class="annytab-list-column" style="text-align:right;width:150px;">@orders[i].vat_sum.ToString("##,0.##", cultureInfo)</div>
            @:<div class="annytab-list-column" style="text-align:right;width:150px;">@orders[i].total_sum.ToString("##,0.##", cultureInfo)</div>
            @:<div class="annytab-list-column" style="text-align:center;width:100px;"><input data-id="printOrder" type="button" class="annytab-form-button" value="@print_tt" data-order="@orders[i].id" /></div>
            @:</div>
        }
    </div>
</div>

@*Paging menu*@
@Html.Partial("/Views/shared_admin/_paging_menu.cshtml")