@using System.Globalization
@{

    // Get the layout type from the cookie
    ViewBag.LayoutType = "standard";
    if (Request.Cookies["LayoutType"] != null)
    {
        ViewBag.LayoutType = Request.Cookies["LayoutType"].Value;
    }

    // Get form values
    Domain domain = ViewBag.CurrentDomain;
    Language language = ViewBag.CurrentLanguage;
    Currency currency = ViewBag.Currency;
    Product product = ViewBag.CurrentProduct;
    List<ProductOptionType> productOptionTypes = ViewBag.ProductOptionTypes;
    Dictionary<Int32, List<ProductOption>> productOptions = ViewBag.ProductOptions;
    KeyStringList tt = ViewBag.TranslatedTexts;
    List<string> otherProductImageUrls = Tools.GetOtherProductImageUrls(product.id, domain.front_end_language, product.use_local_images);
    ValueAddedTax valueAddedTax = ViewBag.ValueAddedTax;
    Unit unit = ViewBag.Unit;
    Decimal productPrice = ViewBag.ProductPrice;
    Decimal comparisonPrice = ViewBag.ComparisonPrice;
    Unit comparisonUnit = Unit.GetOneById(product.comparison_unit_id, domain.front_end_language);
    string productCode = ViewBag.ProductCode;
    string manufacturerCode = ViewBag.ManufacturerCode;
    string languageId = product.use_local_images == true ? domain.front_end_language.ToString() : "0";
    string variantImageUrl = ViewBag.variantImageUrl;
    bool pricesIncludesVat = ViewBag.PricesIncludesVat;
    CultureInfo cultureInfo = ViewBag.CultureInfo;

    // Count the number of reviews
    Int32 count = ProductReview.GetCountByProductId(product.id, domain.front_end_language);
    ViewBag.ReviewCount = count;

    // Set meta data
    ViewBag.Title = product.title;
    ViewBag.MetaTitle = product.title;
    ViewBag.MetaDescription = product.meta_description;
    ViewBag.MetaKeywords = product.meta_keywords;
    ViewBag.MetaCanonical = domain.web_address + "/home/product/" + product.page_name;
    ViewBag.MetaRobots = product.meta_robots;
    ViewBag.OgImageUrl = domain.web_address + Tools.GetProductMainImageUrl(product.id,domain.front_end_language, "", product.use_local_images);

    // Get translated texts
    string product_tt = tt.Get("product");
    string price_tt = tt.Get("price");
    string excluding_vat_tt = tt.Get("excluding_vat");
    string including_vat_tt = tt.Get("including_vat");
    string product_code_tt = tt.Get("product_code");
    string manufacturer_code_tt = tt.Get("manufacturer_code");
    string gtin_tt = tt.Get("gtin");
    string condition_tt = tt.Get("condition");
    string brand_tt = tt.Get("brand");
    string availability_status_tt = tt.Get("availability_status");
    string delivery_time_tt = tt.Get("delivery_time");
    string gender_tt = tt.Get("gender");
    string age_group_tt = tt.Get("age_group");
    string buy_tt = tt.Get("buy");
    string affiliate_button_text_tt = tt.Get("affiliate_button_text");
    string facts_tt = tt.Get("facts");
    string extras_tt = tt.Get("extras");
    string reserve_tt = tt.Get("reserve");
    string rating_tt = tt.Get("rating");
    string reviews_tt = tt.Get("reviews");
    string availability_date_tt = tt.Get("availability_date");
    string comparison_price_tt = tt.Get("comparison_price");
    string size_type_tt = tt.Get("size_type");
    string size_system_tt = tt.Get("size_system");
    string energy_efficiency_class_tt = tt.Get("energy_efficiency_class");
    
    // Set the buy button text
    string buy_button_text = buy_tt.ToUpper();
    if(product.affiliate_link != "")
    {
        buy_button_text = affiliate_button_text_tt.ToUpper();
    }
    else if (product.availability_status == "availability_preorder")
    {
        buy_button_text = reserve_tt.ToUpper();
    }
    
    // Set the layout for the page
    if (ViewBag.LayoutType == "mobile")
    {
        Layout = domain.custom_theme_id == 0 ? "/Views/shared_front/_mobile_layout.cshtml" : "/Views/theme/front_mobile_layout.cshtml";
    }
    else
    {
        Layout = domain.custom_theme_id == 0 ? "/Views/shared_front/_standard_layout.cshtml" : "/Views/theme/front_standard_layout.cshtml";
    }
}

@* Google markup (Product) *@
<div itemscope itemtype="http://data-vocabulary.org/Product">

    @* Fullscreen image container *@
    <div id="fullscreenContainer" class="annytab-fullscreen-container">
        <img id="fullscreenImage" src="" alt="@product.title" class="annytab-fullscreen-image" />
    </div>

    @* Product title *@
    <h1 itemprop="name">@product.title</h1>

     @* Share content *@
    <div class="annytab-share-container">
        <div class="annytab-share-button"><div class="fb-like" data-layout="button" data-action="like" data-show-faces="false" data-share="true" data-href="@ViewBag.MetaCanonical"></div></div>
        <div class="annytab-share-button"><a href="https://twitter.com/share" data-count="none" class="twitter-share-button" data-href="@ViewBag.MetaCanonical" data-lang="@language.language_code.ToLower()">Tweet</a></div>
        <div class="annytab-share-button"><div class="g-plusone" data-annotation="none" data-size="medium" data-href="@ViewBag.MetaCanonical"></div></div>
        <div class="annytab-share-button"><a href="//se.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" data-pin-color="red"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_20.png" alt="Pinterest" /></a></div>
        <div class="annytab-share-button"><script type="IN/Share" data-url="@ViewBag.MetaCanonical"></script></div>
    </div> 

    @* Form to add product *@
    @using (Html.BeginForm("add_product", "home", FormMethod.Post))
    {
        @* Hidden data *@
        <input name="hiddenProductId" type="hidden" value="@product.id.ToString()" />
        <input id="hiddenProductPrice" type="hidden" value="@product.unit_price.ToString(CultureInfo.InvariantCulture)" />
        <input id="hiddenProductCode" type="hidden" value="@product.product_code" />
        <input id="hiddenManufacturerCode" type="hidden" value="@product.manufacturer_code" />
        <input id="hiddenConversionRate" type="hidden" value="@currency.conversion_rate.ToString(CultureInfo.InvariantCulture)" />
        <input id="hiddenCurrencyBase" type="hidden" value="@currency.currency_base.ToString(CultureInfo.InvariantCulture)" />
        <input id="hiddenDecimalMultiplier" type="hidden" value="@Convert.ToInt32(Math.Pow(10, currency.decimals))" />
        <input id="hiddenValueAddedTaxPercent" type="hidden" value="@valueAddedTax.value.ToString(CultureInfo.InvariantCulture)" />
        <input id="hiddenPriceIncludesVat" type="hidden" value="@pricesIncludesVat" />
        <input id="hiddenVariantImageDirectory" type="hidden" value="@("/Content/products/" + (product.id / 100).ToString() + "/" + product.id.ToString() + "/" + languageId + "/other_images/")" />
        <input id="hiddenVariantImageFileName" type="hidden" value="@(product.variant_image_filename)" />
        <input id="hiddenCultureCode" type="hidden" value="@cultureInfo.Name" />

        @* Product image and description *@
        <div style="display:block;">
            <p>
                @* Main image *@
                <div id="mainProductImageContainer" style="position:relative;float:left;width:290px;height:290px;margin:0px 4px 4px 0px;overflow:hidden;border-radius:4px;cursor:crosshair;">
                    <img id="mainProductImage" itemprop="image" src="@Tools.GetProductMainImageUrl(product.id, domain.front_end_language, variantImageUrl, product.use_local_images)" alt="@product.title" style="position:absolute;top:0;left:0;width:290px;height:290px;" />
                </div>
                @* Review and rating *@
                <div itemscope itemtype="http://data-vocabulary.org/Review-aggregate" style="margin-bottom:5px;">
                    <div class="rateit" title="@product.rating.ToString()" data-rateit-value="@product.rating.ToString(CultureInfo.InvariantCulture)" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                    <span itemprop="itemreviewed" style="display:none;">@product.title</span><span>@(" | ")</span><span class="annytab-basic-text-normal">@(rating_tt + ": ")</span>
                    <span class="annytab-basic-text-normal" itemprop="rating">@product.rating.ToString("##,0.##", cultureInfo)</span><span>@(" | ")</span>
                    <a href="#reviews" style="vertical-align:middle;">@(reviews_tt + " (")<span itemprop="count">@count</span>@(")")</a>
                </div>                    
                @* Product description *@
                <span class="annytab-basic-bread-text" itemprop="description">@Html.Raw(product.main_content)</span>  
            </p>
        </div>

        <div class="annytab-basic-space"></div>
        
        @* Other images *@
        <div id="productImageContainer" class="annytab-basic-container" style="padding:10px 0px 0px 10px;@(otherProductImageUrls.Count > 0 ? "display:block;" : "display:none;")">
            @foreach (string imageUrl in otherProductImageUrls)
            {
                @:<img data-id="otherProductImage" src="@imageUrl" alt="@product.title" style="display:inline;margin:0px 10px 10px 0px;width:80px;height:80px;border-radius:4px;cursor:pointer;" />
            }
        </div>

        <div class="annytab-basic-space"></div>

        @* Product options *@
        <div class="annytab-basic-container" style="@(productOptionTypes.Count > 0 ? "display:block;" : "display:none;")">
            <div id="productOptions" style="display:table;width:100%;">
                @for (int i = 0; i < productOptionTypes.Count; i++)
                {
                    @* Get the list of product options *@
                    List<ProductOption> listProductOptions = productOptions.ContainsKey(productOptionTypes[i].option_type_id) ? productOptions[productOptionTypes[i].option_type_id] : new List<ProductOption>(0);

                    @* Add the product option type id if there is product options *@
                    if (listProductOptions.Count > 0)
                    {
                        @:<input name="productOptionTypeId" type="hidden" value="@productOptionTypes[i].id" />
                    }

                    @:<div style="display:table-row;">
                        @:<div style="display:table-cell;width:100px;"><span style="margin:0px;font-size:12px;vertical-align:middle;">@productOptionTypes[i].title</span></div>
                        @:<div style="display:table-cell;text-align:right;">
                            @:<select data-id="selectProductOption" name="selectProductOption" style="margin:1px 0px 1px 0px;vertical-align:middle;width:150px;background-color:#d9d9d9;border:1px solid #207298;border-radius:2px;">
                                foreach (ProductOption productOption in listProductOptions)
                                {
                                    <option value="@productOption.option_id" data-suffix="@productOption.product_code_suffix" data-mpn-suffix="@productOption.mpn_suffix"
                                            data-price="@productOption.price_addition.ToString(CultureInfo.InvariantCulture)">@productOption.title
                                    </option>
                                }
                            @:</select>
                        @:</div>
                    @:</div>
                }
            </div>
        </div>

        <div class="annytab-basic-space"></div>

        @* Price *@
        <div style="display:table-cell;width:100%;margin:0px;" itemscope itemprop="offerDetails" itemtype="http://data-vocabulary.org/Offer">
            <span id="txtProductPrice" itemprop="price" class="annytab-price-tag">@productPrice.ToString("##,0.##", cultureInfo)</span>
            &nbsp;<span itemprop="priceCurrency" class="annytab-price-tag">@(currency.currency_code)</span>
            <span style="font-size:14px;color:#808080;vertical-align:middle;">@(pricesIncludesVat == true ? " (" + including_vat_tt.ToLower() + ")" : " (" + excluding_vat_tt.ToLower() + ")")</span>
        </div>

        <div class="annytab-basic-space"></div>

        @* Buy button panel *@
        <div class="annytab-basic-container">
            <input id="txtQuantity" name="txtQuantity" type="number" value="1" min="1" step="1" class="annytab-form-textbox" style="width:50px;height:24px;font-size:16px;line-height:24px;vertical-align:middle;@(product.affiliate_link != "" ? "display:none" : "")" />
            <input type="submit" class="annytab-basic-button" value="@buy_button_text" style="padding:7px 40px 7px 40px;" />
        </div>
        
        <div class="annytab-basic-space"></div>

        @* Product facts *@
        <div class="annytab-basic-container">
            <span class="annytab-form-heading">@facts_tt</span>
        </div>

        <div class="annytab-fact-table">
            <div style="@(productCode != "" ? "display:table-row;" : "display:none;")">
                <div class="annytab-fact-cell-heading">@(product_code_tt + ": ")</div>
                <div class="annytab-fact-cell-text"><span id="txtProductCode" itemprop="sku">@productCode</span></div>
            </div>
            <div style="@(manufacturerCode != "" ? "display:table-row;" : "display:none;")">
                <div class="annytab-fact-cell-heading">@(manufacturer_code_tt + ": ")</div>
                <div class="annytab-fact-cell-text"><span id="txtManufacturerCode" itemprop="mpn">@manufacturerCode</span></div>
            </div>
            <div style="@(product.gtin != "" ? "display:table-row;" : "display:none;")">
                <div class="annytab-fact-cell-heading">@(gtin_tt + ": ")</div>
                <div class="annytab-fact-cell-text">@product.gtin</div>
            </div>
            <div style="@(comparisonPrice != 0 ? "display:table-row;" : "display:none;")">
                <div class="annytab-fact-cell-heading">@(comparison_price_tt + ": ")</div>
                <div class="annytab-fact-cell-text"><span>@(comparisonPrice.ToString("##,0.##", cultureInfo) + " " + currency.currency_code + " / " + product.unit_pricing_base_measure.ToString() + " " + (comparisonUnit != null ? comparisonUnit.unit_code : "?"))</span></div>
            </div>
            <div style="@(product.brand != "" ? "display:table-row;" : "display:none;")">
                <div class="annytab-fact-cell-heading">@(brand_tt + ": ")</div>
                <div class="annytab-fact-cell-text"><span itemprop="brand">@product.brand</span></div>
            </div>
            <div style="@(product.condition != "" ? "display:table-row;" : "display:none;")">
                <div class="annytab-fact-cell-heading">@(condition_tt + ": ")</div>
                <div class="annytab-fact-cell-text">@tt.Get(product.condition)</div>
            </div>
            <div style="@(product.availability_status != "" ? "display:table-row;" : "display:none;")">
                <div class="annytab-fact-cell-heading">@(availability_status_tt + ": ")</div>
                <div class="annytab-fact-cell-text">@tt.Get(product.availability_status)</div>
            </div>
            <div style="@(product.availability_status == "availability_preorder" ? "display:table-row;" : "display:none;")">
                <div class="annytab-fact-cell-heading">@(availability_date_tt + ": ")</div>
                <div class="annytab-fact-cell-text">@product.availability_date.ToShortDateString()</div>
            </div>
            <div style="@(product.delivery_time != "" ? "display:table-row;" : "display:none;")">
                <div class="annytab-fact-cell-heading">@(delivery_time_tt + ": ")</div>
                <div class="annytab-fact-cell-text">@product.delivery_time</div>
            </div>
            <div style="@(product.gender != "" ? "display:table-row;" : "display:none;")">
                <div class="annytab-fact-cell-heading">@(gender_tt + ": ")</div>
                <div class="annytab-fact-cell-text">@tt.Get(product.gender)</div>
            </div>
            <div style="@(product.age_group != "" ? "display:table-row;" : "display:none;")">
                <div class="annytab-fact-cell-heading">@(age_group_tt + ": ")</div>
                <div class="annytab-fact-cell-text">@tt.Get(product.age_group)</div>
            </div>
            <div style="@(product.size_type != "" ? "display:table-row;" : "display:none;")">
                <div class="annytab-fact-cell-heading">@(size_type_tt + ": ")</div>
                <div class="annytab-fact-cell-text">@tt.Get(product.size_type)</div>
            </div>
            <div style="@(product.size_system != "" ? "display:table-row;" : "display:none;")">
                <div class="annytab-fact-cell-heading">@(size_system_tt + ": ")</div>
                <div class="annytab-fact-cell-text">@product.size_system</div>
            </div>
            <div style="@(product.energy_efficiency_class != "" ? "display:table-row;" : "display:none;")">
                <div class="annytab-fact-cell-heading">@(energy_efficiency_class_tt + ": ")</div>
                <div class="annytab-fact-cell-text">@product.energy_efficiency_class</div>
            </div>
        </div>
        
        <div class="annytab-basic-space"></div>
    }

    @* Extras *@
    <div style="@(product.extra_content != "" ? "display:block;" : "display:none;")">
        <div class="annytab-basic-container">
            <span class="annytab-form-heading">@extras_tt</span>
        </div>
        <div class="annytab-basic-space"></div>
        <div class="annytab-transparent-container">@Html.Raw(product.extra_content)</div>  
    </div>

    <div class="annytab-basic-space"></div>

    @* Product accessories *@
    @Html.Partial(domain.custom_theme_id == 0 ? "/Views/shared_front/_product_accessories.cshtml" : "/Views/theme/front_product_accessories.cshtml")

    @* Product reviews *@
    @Html.Partial(domain.custom_theme_id == 0 ? "/Views/shared_front/_product_reviews.cshtml" : "/Views/theme/front_product_reviews.cshtml")

    </div>

@section scripts {
    <script>$("#txtSearch").focus();</script>
    @Scripts.Render(domain.custom_theme_id == 0 ? "/Scripts/annytab_front/annytab.product-functions.js" : "/Scripts/theme/annytab.product-functions.js")
    @Scripts.Render("/Scripts/jquery.rateit.min.js")
    @Styles.Render(domain.custom_theme_id == 0 ? "/Content/annytab_css/rateit.css" : "/Content/theme/rateit.css")
}