@{
    // Set the layout for the page
    Layout = "/Views/shared_admin/_standard_layout.cshtml";

    // Get values
    Int32 languageId = ViewBag.LanguageId;
    List<Language> languages = ViewBag.Languages;
    Category standardCategory = ViewBag.StandardCategory;
    Category translatedCategory = ViewBag.TranslatedCategory;
    string returnUrl = ViewBag.ReturnUrl;
    string error_message = ViewBag.ErrorMessage != null ? ViewBag.ErrorMessage : string.Empty;
    KeyStringList tt = ViewBag.TranslatedTexts;

    // Get translated texts
    string translate_tt = tt.Get("translate");
    string no_choice_tt = tt.Get("no_choice");
    string language_tt = tt.Get("language");
    string category_tt = tt.Get("category");
    string title_tt = tt.Get("title");
    string description_tt = tt.Get("description");
    string meta_description_tt = tt.Get("meta_description");
    string keywords_tt = tt.Get("keywords");
    string page_name_tt = tt.Get("page_name");
    string use_local_images_tt = tt.Get("use_local_images");
    string inactive_tt = tt.Get("inactive");
    string delete_tt = tt.Get("delete");
    string cancel_tt = tt.Get("cancel");

    // Set the title for the page
    ViewBag.Title = category_tt + " - " + translate_tt.ToLower();
}

@*Title*@
<h1>@ViewBag.Title</h1>

@*Menu*@
@Html.Partial("/Views/admin_categories/_form_menu.cshtml")

@*Main form*@
@using (Html.BeginForm("translate", "admin_categories", FormMethod.Post))
{
    @*Hidden data*@
    <input name="returnUrl" type="hidden" value="@returnUrl" />
    <div class="annytab-form-error-message" style="@(error_message != "" ? "display:block;" : "display:none;")">@Html.Raw(error_message)</div>
    <input name="hiddenCategoryId" type="hidden" value="@standardCategory.id" />
    
    @* Select language *@
    <div class="annytab-form-input-container">
        <div class="annytab-form-title">@(language_tt)</div>
        <select id="selectLanguage" name="selectLanguage" class="annytab-form-select" style="max-width:100%;">
            <option value="0" data-url="@("/admin_categories/translate/" + standardCategory.id.ToString() + "?returnUrl=" + Server.UrlEncode(returnUrl))" @(languageId == 0 ? Html.Raw("selected='selected'") : Html.Raw(""))>@("-- " + no_choice_tt + " --")</option>
            @foreach (Language language in languages)
            {
                <option value="@language.id" data-url="@("/admin_categories/translate/" + standardCategory.id.ToString() + "?returnUrl=" + Server.UrlEncode(returnUrl) + "&lang=" + language.id.ToString())" @(language.id == languageId ? Html.Raw("selected='selected'") : Html.Raw(""))>@language.name</option>
            }
        </select>
    </div>

    <div class="annytab-basic-line"></div>

    @*Title and content*@
    <div class="annytab-form-input-container">
        <div class="annytab-form-title">@(title_tt)</div>
        <div><input name="txtStandardTitle" type="text" class="annytab-form-textbox" style="max-width:100%;" tabindex="-1" readonly="readonly" value="@standardCategory.title" /></div>
        <div><input name="txtTranslatedTitle" type="text" class="annytab-form-textbox" style="max-width:100%" value="@(translatedCategory != null ? translatedCategory.title : "")" @(languageId == 0 ? Html.Raw("readonly='readonly'") : Html.Raw("")) /></div>
        <div class="annytab-basic-space-half"></div>
        <div class="annytab-form-title">@(description_tt)</div>
        <textarea name="txtStandardDescription" class="annytab-form-textarea" style="max-width:100%;" tabindex="-1" rows="10" readonly="readonly">@standardCategory.main_content</textarea>
        <div class="annytab-form-html-button-panel" data-textarea="txtTranslatedDescription"></div>
        <div><textarea id="txtTranslatedDescription" name="txtTranslatedDescription" class="annytab-form-textarea" style="max-width:100%;" rows="10" @(languageId == 0 ? Html.Raw("readonly='readonly'") : Html.Raw(""))>@(translatedCategory != null ? translatedCategory.main_content : "")</textarea></div>
    </div>

    <div class="annytab-basic-line"></div>

    @*Input form table*@
    <div class="annytab-input-form-table">
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(meta_description_tt + ":")</div>
            <div class="annytab-input-form-column-input"><textarea name="txtStandardMetadescription" class="annytab-form-textarea" tabindex="-1" rows="4" readonly="readonly">@standardCategory.meta_description</textarea></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">&nbsp;</div>
            <div class="annytab-input-form-column-input"><textarea name="txtTranslatedMetadescription" class="annytab-form-textarea" rows="4" @(languageId == 0 ? Html.Raw("readonly='readonly'") : Html.Raw(""))>@(translatedCategory != null ? translatedCategory.meta_description : "")</textarea></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(keywords_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtStandardMetakeywords" type="text" class="annytab-form-textbox" tabindex="-1" readonly="readonly" value="@standardCategory.meta_keywords" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">&nbsp;</div>
            <div class="annytab-input-form-column-input"><input name="txtTranslatedMetakeywords" type="text" class="annytab-form-textbox" value="@(translatedCategory != null ? translatedCategory.meta_keywords : "")" @(languageId == 0 ? Html.Raw("readonly='readonly'") : Html.Raw("")) /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(page_name_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtStandardPagename" type="text" class="annytab-form-textbox" tabindex="-1" readonly="readonly" value="@standardCategory.page_name" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">&nbsp;</div>
            <div class="annytab-input-form-column-input"><input name="txtTranslatedPagename" type="text" class="annytab-form-textbox" value="@(translatedCategory != null ? translatedCategory.page_name : "")" @(languageId == 0 ? Html.Raw("readonly='readonly'") : Html.Raw("")) /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(use_local_images_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="cbLocalImages" type="checkbox" class="annytab-form-checkbox" value="true" @(translatedCategory != null && translatedCategory.use_local_images == true ? Html.Raw("checked='checked'") : Html.Raw("")) /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(inactive_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="cbInactive" type="checkbox" class="annytab-form-checkbox" value="true" @(translatedCategory != null && translatedCategory.inactive == true ? Html.Raw("checked='checked'") : Html.Raw("")) /></div>
        </div>
    </div>

    @*Button panel*@
    <div style="display:block;border:1px solid #cccccc;margin:20px 0px 0px 0px;border-radius:4px;">
        <input id="btnSave" type="submit" class="annytab-form-button" value="@translate_tt" @(languageId == 0 ? Html.Raw("disabled='disabled'") : Html.Raw("")) />
        <input data-id="deletePost" type="button" class="annytab-form-button" value="@delete_tt" @(Html.Raw("data-url='/admin_categories/delete/" + standardCategory.id.ToString() + "?returnUrl=" + Server.UrlEncode(returnUrl) + "&lang=" + languageId.ToString() + "'")) @(languageId == 0 ? Html.Raw("disabled='disabled'") : Html.Raw("")) />
        <input type="button" class="annytab-form-button" value="@cancel_tt" onclick="@Html.Raw("location.href='/admin_categories" + returnUrl + "'")" />
    </div>
}

@section scripts {
    <script src="/Scripts/rangyinputs-jquery.js"></script>
    <script src="/Scripts/annytab_admin/annytab.html-button-panel.js"></script>
    <script type="text/javascript">
        $("#selectLanguage").focus();
        $("#selectLanguage").on("change", function () { $(location).attr("href", $(this).find(":selected").attr("data-url")); });
        $(".annytab-form-html-button-panel").htmlButtonPanel({ buttonClass: "annytab-form-button" });
    </script>
}