@using System.Globalization
@{

    // Set the layout for the page
    Layout = "/Views/shared_admin/_standard_layout.cshtml";
    
    // Get values
    Country country = ViewBag.Country;
    string returnUrl = ViewBag.ReturnUrl;
    string error_message = ViewBag.ErrorMessage != null ? ViewBag.ErrorMessage : string.Empty;

    // Get translated texts
    KeyStringList tt = ViewBag.TranslatedTexts;
    string country_tt = tt.Get("country");
    string new_tt = tt.Get("new");
    string edit_tt = tt.Get("edit");
    string id_tt = tt.Get("id");
    string name_tt = tt.Get("name");
    string country_code_tt = tt.Get("country_code");
    string vat_code_tt = tt.Get("vat_code");
    string no_choice_tt = tt.Get("no_choice");
    string vat_code_domestic_tt = tt.Get("vat_code_domestic");
    string vat_code_eu_tt = tt.Get("vat_code_eu");
    string vat_code_export_tt = tt.Get("vat_code_export");
    string save_tt = tt.Get("save");
    string cancel_tt = tt.Get("cancel");

    // Set the title for the page
    if (country.id == 0)
    {
        ViewBag.Title = country_tt + " - " + new_tt.ToLower();
    }
    else
    {
        ViewBag.Title = country_tt + " - " + edit_tt.ToLower();
    }
}

<h1>@ViewBag.Title</h1>
@*Menu*@
@Html.Partial("~/Views/admin_countries/_form_menu.cshtml")

@*Main form*@
@using (Html.BeginForm("edit", "admin_countries", FormMethod.Post))
{
    <input name="returnUrl" type="hidden" value="@returnUrl" />
    <div id="divErrors" class="formErrorMessage" style="@(error_message != "" ? "display:block;" : "display:none;")">@Html.Raw(error_message)</div>
    <table style="width:100%;">
        <tr style="@(country.id != 0 ? "display:table-row;" : "display:none;")">
            <td class="label">@(id_tt + ":")</td>
            <td class="input"><input name="txtId" type="text" class="formTextbox" tabindex="-1" readonly="readonly" value="@country.id" /></td>
        </tr>
        <tr>
            <td class="label">@(name_tt + ":")</td>
            <td class="input"><input id="txtName" name="txtName" type="text" class="formTextbox" value="@country.name" /></td>
        </tr>
        <tr>
            <td class="label">@(country_code_tt + ":")</td>
            <td class="input"><input name="txtCountryCode" type="text" class="formTextbox" value="@country.country_code" /></td>
        </tr>
        <tr>
            <td class="label">@(vat_code_tt + ":")</td>
            <td class="input">
                <select id="selectVatCode" name="selectVatCode" class="formSelect">
                    <option value="0" @(country.vat_code == 0 ? Html.Raw("selected='selected'") : Html.Raw(""))>@vat_code_domestic_tt</option>
                    <option value="1" @(country.vat_code == 1 ? Html.Raw("selected='selected'") : Html.Raw(""))>@vat_code_eu_tt</option>
                    <option value="2" @(country.vat_code == 2 ? Html.Raw("selected='selected'") : Html.Raw(""))>@vat_code_export_tt</option>
                </select>
            </td>
        </tr>
    </table>

    // Save form button
    <div style="display:block;border:1px solid #cccccc;margin:20px 0px 0px 0px;border-radius:4px;">
        <input id="btnSave" type="submit" value="@save_tt" />
        <input type="button" value="@cancel_tt" onclick="@Html.Raw("location.href='/admin_countries" + returnUrl + "'")" />
    </div>

}

@section scripts {
    <script>$("#txtName").focus();</script>
}