@{
    // Set the layout for the page
    Layout = "/Views/shared_admin/_standard_layout.cshtml";

    // Get values
    Int32 languageId = ViewBag.LanguageId;
    List<Language> languages = ViewBag.Languages;
    StaticPage standardStaticPage = ViewBag.StandardStaticPage;
    StaticPage translatedStaticPage = ViewBag.TranslatedStaticPage;
    KeyStringList tt = ViewBag.TranslatedTexts;
    string returnUrl = ViewBag.ReturnUrl;
    string error_message = ViewBag.ErrorMessage != null ? ViewBag.ErrorMessage : string.Empty;

    // Get translated texts
    string translate_tt = tt.Get("translate");
    string no_choice_tt = tt.Get("no_choice");
    string language_tt = tt.Get("language");
    string static_page_tt = tt.Get("static_page");
    string title_tt = tt.Get("title");
    string linkname_tt = tt.Get("linkname");
    string description_tt = tt.Get("description");
    string meta_description_tt = tt.Get("meta_description");
    string keywords_tt = tt.Get("keywords");
    string page_name_tt = tt.Get("page_name");
    string inactive_tt = tt.Get("inactive");
    string delete_tt = tt.Get("delete");
    string cancel_tt = tt.Get("cancel");

    // Set the title for the page
    ViewBag.Title = static_page_tt + " - " + translate_tt.ToLower();
}

@*Title*@
<h1>@ViewBag.Title</h1>

@*Menu*@
@Html.Partial("~/Views/admin_static_pages/_form_menu.cshtml")

@*Main form*@
@using (Html.BeginForm("translate", "admin_static_pages", FormMethod.Post))
{
    @*Hidden data*@
    <input name="returnUrl" type="hidden" value="@returnUrl" />
    <div class="annytab-form-error-message" style="@(error_message != "" ? "display:block;" : "display:none;")">@Html.Raw(error_message)</div>
    <input name="hiddenStaticPageId" type="hidden" value="@standardStaticPage.id" />

    @*Input form table*@
    <div class="annytab-input-form-table">
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(language_tt + ":")</div>
            <div class="annytab-input-form-column-input">
                <select id="selectLanguage" name="selectLanguage" class="annytab-form-select">
                    <option value="0" data-url="@("/admin_static_pages/translate/" + standardStaticPage.id.ToString() + "?returnUrl=" + Server.UrlEncode(returnUrl))" @(languageId == 0 ? Html.Raw("selected='selected'") : Html.Raw(""))>@("-- " + no_choice_tt + " --")</option>
                    @foreach (Language language in languages)
                    {
                        <option value="@language.id" data-url="@("/admin_static_pages/translate/" + standardStaticPage.id.ToString() + "?returnUrl=" + Server.UrlEncode(returnUrl) + "&lang=" + language.id.ToString())" @(language.id == languageId ? Html.Raw("selected='selected'") : Html.Raw(""))>@language.name</option>
                    }
                </select>
            </div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label"><div class="annytab-basic-space"></div></div>
            <div class="annytab-input-form-column-input"><div class="annytab-basic-space"></div></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(title_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtStandardTitle" type="text" class="annytab-form-textbox" tabindex="-1" readonly="readonly" value="@standardStaticPage.title" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">&nbsp;</div>
            <div class="annytab-input-form-column-input"><input name="txtTranslatedTitle" type="text" class="annytab-form-textbox" value="@(translatedStaticPage != null ? translatedStaticPage.title : "")" @(languageId == 0 ? Html.Raw("readonly='readonly'") : Html.Raw("")) /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(linkname_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtStandardLinkname" type="text" class="annytab-form-textbox" tabindex="-1" readonly="readonly" value="@standardStaticPage.link_name" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">&nbsp;</div>
            <div class="annytab-input-form-column-input"><input name="txtTranslatedLinkname" type="text" class="annytab-form-textbox" value="@(translatedStaticPage != null ? translatedStaticPage.link_name : "")" @(languageId == 0 ? Html.Raw("readonly='readonly'") : Html.Raw("")) /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(description_tt + ":")</div>
            <div class="annytab-input-form-column-input"><textarea name="txtStandardDescription" class="annytab-form-textarea" tabindex="-1" rows="6" readonly="readonly">@standardStaticPage.main_content</textarea></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">&nbsp;</div>
            <div class="annytab-input-form-column-input"><textarea name="txtTranslatedDescription" class="annytab-form-textarea" rows="6" @(languageId == 0 ? Html.Raw("readonly='readonly'") : Html.Raw(""))>@(translatedStaticPage != null ? translatedStaticPage.main_content : "")</textarea></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(meta_description_tt + ":")</div>
            <div class="annytab-input-form-column-input"><textarea name="txtStandardMetadescription" class="annytab-form-textarea" tabindex="-1" rows="4" readonly="readonly">@standardStaticPage.meta_description</textarea></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">&nbsp;</div>
            <div class="annytab-input-form-column-input"><textarea name="txtTranslatedMetadescription" class="annytab-form-textarea" rows="4" @(languageId == 0 ? Html.Raw("readonly='readonly'") : Html.Raw(""))>@(translatedStaticPage != null ? translatedStaticPage.meta_description : "")</textarea></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(keywords_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtStandardMetakeywords" type="text" class="annytab-form-textbox" tabindex="-1" readonly="readonly" value="@standardStaticPage.meta_keywords" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">&nbsp;</div>
            <div class="annytab-input-form-column-input"><input name="txtTranslatedMetakeywords" type="text" class="annytab-form-textbox" value="@(translatedStaticPage != null ? translatedStaticPage.meta_keywords : "")" @(languageId == 0 ? Html.Raw("readonly='readonly'") : Html.Raw("")) /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(page_name_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtStandardPagename" type="text" class="annytab-form-textbox" tabindex="-1" readonly="readonly" value="@standardStaticPage.page_name" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">&nbsp;</div>
            <div class="annytab-input-form-column-input"><input name="txtTranslatedPagename" type="text" class="annytab-form-textbox" value="@(translatedStaticPage != null ? translatedStaticPage.page_name : "")" @(languageId == 0 ? Html.Raw("readonly='readonly'") : Html.Raw("")) /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(inactive_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="cbInactive" type="checkbox" class="annytab-form-checkbox" value="true" @(translatedStaticPage != null && translatedStaticPage.inactive == true ? Html.Raw("checked='checked'") : Html.Raw("")) /></div>
        </div>
    </div>

    @*Button panel*@
    <div style="display:block;border:1px solid #cccccc;margin:20px 0px 0px 0px;border-radius:4px;">
        <input id="btnSave" type="submit" class="annytab-form-button" value="@translate_tt" @(languageId == 0 ? Html.Raw("disabled='disabled'") : Html.Raw("")) />
        <input data-id="deletePost" type="button" class="annytab-form-button" value="@delete_tt" @(Html.Raw("data-url='/admin_static_pages/delete/" + standardStaticPage.id.ToString() + "?returnUrl=" + Server.UrlEncode(returnUrl) + "&lang=" + languageId.ToString() + "'")) @(languageId == 0 ? Html.Raw("disabled='disabled'") : Html.Raw("")) />
        <input type="button" class="annytab-form-button" value="@cancel_tt" onclick="@Html.Raw("location.href='/admin_static_pages" + returnUrl + "'")" />
    </div>
}

@section scripts {
    <script type="text/javascript">
        $("#selectLanguage").focus();
        $("#selectLanguage").on("change", function () { $(location).attr("href", $(this).find(":selected").attr("data-url")); });
    </script>
}

