@using System.Globalization
@{

    // Get form values
    Domain domain = ViewBag.CurrentDomain;
    Language language = ViewBag.CurrentLanguage;
    KeyStringList imageUrls = Tools.GetDomainImageUrls(domain.id);
    List<BreadCrumb> breadCrumbs = ViewBag.BreadCrumbs;
    KeyStringList tt = ViewBag.TranslatedTexts;
    List<StaticPage> informationPages = StaticPage.GetAllActiveLinks(domain.front_end_language, "title", "ASC");
    bool pricesIncludesVat = ViewBag.PricesIncludesVat;
    Dictionary<string, decimal> cartStatistics = CartItem.GetCartStatistics(domain, pricesIncludesVat);
    Customer customer = Customer.GetSignedInCustomer();
    List<Campaign> rightCampaigns = Campaign.GetByCategoryName("right", domain.front_end_language, "id", "ASC");
    List<Campaign> leftCampaigns = Campaign.GetByCategoryName("left", domain.front_end_language, "id", "ASC");
    CultureInfo cultureInfo = ViewBag.CultureInfo;
    
    // Check if the cart is updated
    string cartUpdated = "false";
    if (Request.Params["cu"] != null)
    {
        cartUpdated = "true";
    }

    // Get translated texts
    string logotype_tt = tt.Get("logotype");
    string background_image_tt = tt.Get("background_image");
    string menu_tt = tt.Get("menu");
    string search_tt = tt.Get("search");
    string categories_tt = tt.Get("categories");
    string shopping_cart_tt = tt.Get("shopping_cart");
    string units_in_cart_tt = tt.Get("units_in_cart");
    string total_sum_tt = tt.Get("total_sum");
    string excluding_vat_tt = tt.Get("excluding_vat");
    string including_vat_tt = tt.Get("including_vat");
    string check_out_tt = tt.Get("check_out");
    string clear_tt = tt.Get("clear");
    string my_pages_tt = tt.Get("my_pages");
    string start_page_tt = tt.Get("start_page");
    string information_tt = tt.Get("information");
    string contact_us_tt = tt.Get("contact_us");
    string log_in_tt = tt.Get("log_in");
    string edit_tt = tt.Get("edit");
    string address_information_tt = tt.Get("address_information");
    string reviews_tt = tt.Get("reviews");
    string files_tt = tt.Get("files");
    string customer_service_tt = tt.Get("customer_service");
    string log_out_tt = tt.Get("log_out");
    string copyright_information_tt = tt.Get("copyright_information");
    string private_person_tt = tt.Get("private_person");
    string company_tt = tt.Get("company");
    string standard_tt = tt.Get("standard");

}

<!DOCTYPE html>
<html lang="@(language.language_code.ToLower() + "-" + language.country_code.ToUpper())" xmlns:og="http://ogp.me/ns#">
<head>
    @* Title and meta tags *@
    <title>@ViewBag.Title</title>
    <meta name="title" content="@ViewBag.MetaTitle" />
    <meta name="description" content="@ViewBag.MetaDescription" />
    <meta name="keywords" content="@ViewBag.MetaKeywords" />
    <meta name="canonical" content="@ViewBag.MetaCanonical" />
    <meta name="robots" content="@ViewBag.MetaRobots" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, height=device-height, user-scalable=yes" />
    <meta name="google" content="notranslate">

    @* Facebook meta tags *@
    <meta property="og:title" content="@ViewBag.MetaTitle" />
    <meta property="og:description" content="@ViewBag.MetaDescription" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="@ViewBag.MetaCanonical" />
    <meta property="og:image" content="@(ViewBag.OgImageUrl != null ? ViewBag.OgImageUrl : domain.web_address + imageUrls.Get("big_icon"))" />
    <meta property="og:site_name" content="@domain.webshop_name" />

    @* Resources *@
    <link href="@imageUrls.Get("small_icon")" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render(domain.custom_theme_id == 0 ? "/Content/annytab_css/front_mobile_layout.css" : "/Content/theme/front_mobile_layout.css")
    @Styles.Render(domain.custom_theme_id == 0 ? "/Content/annytab_css/front_default_style.css" : "/Content/theme/front_default_style.css")

</head>
<body>

    @* Master container *@
    <div class="annytab-layout-container">

        @* Hidden data *@
        <div id="cartUpdated" data-cart-updated="@cartUpdated" style="display:none;"></div>

        @* Header *@
        <div class="annytab-layout-header">
            <img id="toggleMobileMenu" alt="@menu_tt" src="/Content/images/annytab_design/menu_icon.png" style="z-index:1;height:100%;cursor:pointer;position:absolute;left:5px;top:0px;" />
            <div class="annytab-basic-divider" style="position:absolute;left:47px;top:0px;height:42px;margin-left:5px;"></div>
            <div class="annytab-basic-divider" style="position:absolute;right:47px;top:0px;height:42px;margin-right:5px;"></div>
            <div id="mobileCartContainer" style="display:inline-block;position:absolute;z-index:1;border-radius:4px;height:42px;width:42px;cursor:pointer;right:5px;top:0px;" onclick="location.href='/order'">
                <img id="mobileCartIcon" alt="@shopping_cart_tt" src="/Content/images/annytab_design/cart_icon.png" style="z-index:1;width:42px;height:42px;" />
                <div id="mobileCartQuantity" style="height:42px;width:42px;font-weight:bold;color:#a30909;font-size:18px;display:inline-block;position:absolute;top:0px;right:0px;text-align:center;padding-top:12px;">@cartStatistics["total_quantity"].ToString("##,0.##", cultureInfo)</div>
            </div>
            <a href="/"><img alt="@domain.webshop_name" class="annytab-logotype" src="@imageUrls.Get("mobile_logotype")" /></a>
        </div>

        @* Main menu *@
        <div id="mobileMenu" class="annytab-layout-main-menu">
            <div style="padding:10px 10px 10px 10px;">

                @* Search box *@
                <div class="annytab-search-box">
                    @using (Html.BeginForm("search", "home", FormMethod.Post))
                    {
                        <input id="btnSearch" type="submit" class="annytab-search-button" value="" />
                        <input id="txtSearch" name="txtSearch" type="text" class="annytab-search-textbox" />
                    }
                </div>

                @* Shopping cart *@
                <div class="annytab-menu-box">
                    <div class="annytab-menu-title">@shopping_cart_tt.ToUpper()</div>
                    <div>@(cartStatistics["total_quantity"].ToString("##,0.##", cultureInfo) + " " + units_in_cart_tt.ToLower())</div>
                    <div>@(cartStatistics["total_amount"].ToString("##,0.##", cultureInfo) + " " + domain.currency)@(pricesIncludesVat == true ? " (" + including_vat_tt.ToLower() + ")" : " (" + excluding_vat_tt.ToLower() + ")")</div>
                    <div style="margin:4px 0px 0px 0px;"><a class="annytab-menu-link" href="@("/order")">@check_out_tt</a><span>@(" | ")</span><a class="annytab-menu-link" href="@("/order/clear")">@clear_tt</a></div>
                </div>

                @* Category menu *@
                <div class="annytab-menu-box">
                    <div class="annytab-menu-title">@categories_tt.ToUpper()</div>
                    @Html.Partial(domain.custom_theme_id == 0 ? "/Views/shared_front/_category_menu.cshtml" : "/Views/theme/front_category_menu.cshtml")
                </div>

                @* Other pages menu *@
                <div class="annytab-menu-box">
                    <div class="annytab-menu-title">@information_tt.ToUpper()</div>
                    @foreach (StaticPage page in informationPages)
                    {
                        @:<div><a href="@("/home/information/" + page.page_name)" class="annytab-menu-link">@page.link_name</a></div>
                    }
                    <div><a href="@("/home/contact_us")" class="annytab-menu-link">@contact_us_tt</a></div>
                </div>

                @* Customer login *@
                <div class="annytab-menu-box">
                    <div class="annytab-menu-title">@my_pages_tt.ToUpper()</div>
                    @if (customer != null)
                    {
                        @:<div><a href="/customer/" class="annytab-menu-link">@start_page_tt</a></div>
                        @:<div><a href="@(customer.customer_type == 0 ? "/customer/edit_company": "/customer/edit_person")" class="annytab-menu-link">@(edit_tt + " " + address_information_tt.ToLower())</a></div>
                        @:<div><a href="/customer/edit_reviews" class="annytab-menu-link">@reviews_tt</a></div>
                        @:<div><a href="/customer/download_files" class="annytab-menu-link">@files_tt</a></div>
                        @:<div><a href="/home/contact_us" class="annytab-menu-link">@customer_service_tt</a></div>
                        @:<div><a href="/customer/logout" class="annytab-menu-link">@log_out_tt</a></div>
                    }
                    else
                    {
                        @:<div><a href="/customer/login" class="annytab-menu-link">@log_in_tt</a></div>
                    }
                </div>

                @* Campaigns left *@
                @foreach (Campaign campaign in leftCampaigns)
                {
                    @:<div><a href="@campaign.link_url"><img src="@Tools.GetCampaignImageUrl(campaign.image_name)" alt="@campaign.name" style="width:100%;vertical-align:middle;" /></a></div>
                }
                <div class="annytab-basic-space"></div>

            </div>
        </div>

        @* Gradient *@
        <div class="annytab-basic-gradient-down"></div>

        @* Breadcrumbs *@
        <div style="@(breadCrumbs.Count > 0 ? "display:block;" : "display:none;")padding:0px 10px 5px 10px;border-bottom:1px solid #DCDCDC;">
            @for (int i = 0; i < breadCrumbs.Count; i++)
            {
                if (i > 0)
                {
                    <span> - </span>
                }
                <a href="@breadCrumbs[i].link" rel="nofollow" style="font-size:12px;line-height:12px;">@breadCrumbs[i].name</a>
            }
        </div>

        @* Main content *@
        <div class="annytab-layout-main-content">
            <div style="padding:10px 10px 10px 10px;">
                @RenderBody()
            </div>
        </div>

        @* Gradient *@
        <div class="annytab-basic-gradient-up"></div>

        @* Footer *@
        <div class="annytab-layout-footer">
            <div style="padding:10px 10px 10px 10px">
                <span>@Html.Raw(copyright_information_tt + " | ")</span><a href="/home/layout/standard" style="color:#ffffff;text-decoration:underline;">@standard_tt</a>
                @if (pricesIncludesVat == true)
                {
                    @(" | ")<a href="/home/prices_includes_vat/false" style="color:#ffffff;text-decoration:underline;">@company_tt</a>
                }
                else
                {
                    @(" | ")<a href="/home/prices_includes_vat/true" style="color:#ffffff;text-decoration:underline;">@private_person_tt</a>
                }
            </div>
        </div>
    </div>

    @* Loading animation *@
    <div id="animationContainer" class="annytab-loading-outer-container">
        <div id="animationImage" class="annytab-loading-inner-container"></div>
    </div>

    @* Shared scripts *@
    @Html.Partial(domain.custom_theme_id == 0 ? "/Views/shared_front/_shared_scripts.cshtml" : "/Views/theme/front_shared_scripts.cshtml")

    @* Scripts *@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render(domain.custom_theme_id == 0 ? "/Scripts/annytab_front/annytab.default-functions.js" : "/Scripts/theme/annytab.default-functions.js")
    @Scripts.Render(domain.custom_theme_id == 0 ? "/Scripts/annytab_front/annytab.mobile-layout-functions.js" : "/Scripts/theme/annytab.mobile-layout-functions.js")
    @RenderSection("scripts", required: false)
    
</body>
</html>