@{
    
    // Set the layout for the page
    Layout = "/Views/shared_admin/_standard_layout.cshtml";

    // Get form data
    OptionType optionType = ViewBag.OptionType;
    List<Option> options = ViewBag.Options;
    KeyStringList tt = ViewBag.TranslatedTexts;
    string returnUrl = ViewBag.ReturnUrl;
    string error_message = ViewBag.ErrorMessage != null ? ViewBag.ErrorMessage : string.Empty;
    
    // Get translated texts
    string product_options_tt = tt.Get("product_options");
    string new_tt = tt.Get("new");
    string edit_tt = tt.Get("edit");
    string id_tt = tt.Get("id");
    string title_tt = tt.Get("title");
    string no_choice_tt = tt.Get("no_choice");
    string google_name_tt = tt.Get("google_name");
    string product_suffix_tt = tt.Get("product_suffix");
    string save_tt = tt.Get("save");
    string cancel_tt = tt.Get("cancel");

    // Set the title for the page
    if(optionType.id == 0)
    {
        ViewBag.Title = product_options_tt + " - " + new_tt.ToLower();
    }
    else
    {
        ViewBag.Title = product_options_tt + " - " + edit_tt.ToLower();
    }
}

@*Title*@
<h1>@ViewBag.Title</h1>

@*Menu*@
@Html.Partial("~/Views/admin_options/_form_menu.cshtml")

@*Main form*@
@using (Html.BeginForm("edit", "admin_options", FormMethod.Post))
{
    @*Hidden data*@
    <input name="returnUrl" type="hidden" value="@returnUrl" />
    <div class="annytab-form-error-message" style="@(error_message != "" ? "display:block;" : "display:none;")">@Html.Raw(error_message)</div>
    
    @*Option type input form*@
    <div class="annytab-input-form-table">
        <div class="annytab-input-form-row" style="@(optionType.id != 0 ? "display:table-row;" : "display:none;")">
            <div class="annytab-input-form-column-label">@(id_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtId" type="text" class="annytab-form-textbox" tabindex="-1" readonly="readonly" value="@optionType.id" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(title_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input id="txtTitle" name="txtTitle" type="text" class="annytab-form-textbox" value="@optionType.title" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@google_name_tt</div>
            <div class="annytab-input-form-column-input">
                <select name="selectGoogleName" class="annytab-form-select">
                    <option value="" @(optionType.google_name == "" ? Html.Raw("selected='selected'") : Html.Raw(""))>@("-- " + no_choice_tt + " --")</option>
                    <option value="g:color" @(optionType.google_name == "g:color" ? Html.Raw("selected='selected'") : Html.Raw(""))>g:color</option>
                    <option value="g:material" @(optionType.google_name == "g:material" ? Html.Raw("selected='selected'") : Html.Raw(""))>g:material</option>
                    <option value="g:pattern" @(optionType.google_name == "g:pattern" ? Html.Raw("selected='selected'") : Html.Raw(""))>g:pattern</option>
                    <option value="g:size" @(optionType.google_name == "g:size" ? Html.Raw("selected='selected'") : Html.Raw(""))>g:size</option>
                </select>
            </div>
        </div>
    </div>
    
    <div class="annytab-basic-space"></div>

    @*Options input form*@
    <div class="annytab-sortable-container">
        <div id="sortableTable" class="annytab-sortable-table" style="width:510px;">
            <div class="annytab-sortable-row">
                <div style="display:none;">@id_tt</div>
                <div class="annytab-sortable-column-head" style="width:30px;">&nbsp;</div>
                <div class="annytab-sortable-column-head" style="width:200px;">@title_tt</div>
                <div class="annytab-sortable-column-head" style="width:200px;">@product_suffix_tt</div>
                <div class="annytab-sortable-column-head" style="text-align:center;width:56px;">&nbsp;</div>
            </div>
            @for (int i = 0; i < options.Count; i++)
            {
                <div class="annytab-sortable-row">
                    <div style="display:none;"><input name="optionId" type="hidden" tabindex="-1" value="@options[i].id" /></div>
                    <div class="annytab-sortable-column" style="text-align:center;width:30px;"><img src="/Content/images/annytab_design/drag_icon.png" alt="Icon" style="width:20px;height:20px;cursor:move;" /></div>
                    <div class="annytab-sortable-column" style="width:200px;"><input name="optionTitle" type="text" class="annytab-sortable-textbox" value="@options[i].title" /></div>
                    <div class="annytab-sortable-column" style="width:200px;"><input name="optionSuffix" type="text" class="annytab-sortable-textbox" value="@options[i].product_code_suffix" /></div>
                    <div class="annytab-sortable-column" style="text-align:center;width:56px;"><input data-id="addRow" type="button" class="annytab-sortable-button" value="+" /><input data-id="deleteRow" type="button" class="annytab-sortable-button" value="-" /></div>
                </div>
            }
            <div class="annytab-sortable-row">
                <div style="display:none;"><input name="optionId" type="hidden" tabindex="-1" value="0" /></div>
                <div class="annytab-sortable-column" style="text-align:center;width:30px;"><img src="/Content/images/annytab_design/drag_icon.png" alt="Icon" style="width:20px;height:20px;cursor:move;" /></div>
                <div class="annytab-sortable-column" style="width:200px;"><input name="optionTitle" type="text" class="annytab-sortable-textbox" /></div>
                <div class="annytab-sortable-column" style="width:200px;"><input name="optionSuffix" type="text" class="annytab-sortable-textbox" /></div>
                <div class="annytab-sortable-column" style="text-align:center;width:56px;"><input data-id="addRow" type="button" class="annytab-sortable-button" value="+" /><input data-id="deleteRow" type="button" class="annytab-sortable-button" value="-" /></div>
            </div>
        </div>
    </div>

    @*Button panel*@
    <div style="display:block;border:1px solid #cccccc;margin:20px 0px 0px 0px;border-radius:4px;">
        <input id="btnSave" type="submit" class="annytab-form-button" value="@save_tt" />
        <input type="button" class="annytab-form-button" value="@cancel_tt" onclick="@Html.Raw("location.href='/admin_options" + returnUrl + "'")" />
    </div>
}

@section scripts {
    <script type="text/javascript">$("#txtTitle").focus();</script>
}
