@using System.Globalization
@{
    // Set the layout for the page
    Layout = "/Views/shared_admin/_standard_layout.cshtml";

    // Get form data
    Domain domain = ViewBag.CurrentDomain;
    Language currentLanguage = Language.GetOneById(domain.back_end_language);
    CultureInfo cultureInfo = Tools.GetCultureInfo(currentLanguage);
    QueryParams parameters = ViewBag.QueryParams;
    string queryString = QueryParams.GetQueryString(parameters);
    KeyStringList tt = ViewBag.TranslatedTexts;

    // Create a clean string with keywords
    string cleanKeywords = parameters.keywords.Replace("+", "");

    // Create an array with search words
    string[] words = cleanKeywords.Split(' ');

    // Count the number of posts
    Int32 count = DiscountCode.GetCountBySearch(words);

    // Get the number of pages
    Int32 numberOfPages = Convert.ToInt32(Math.Ceiling(((double)count / parameters.page_size)));
    numberOfPages = numberOfPages == 0 ? 1 : numberOfPages;

    // Get discount codes by keywords in a search
    List<DiscountCode> discountCodes = DiscountCode.GetBySearch(words, parameters.page_size, parameters.current_page, parameters.sort_field, parameters.sort_order);

    // Get translated texts
    string discount_code_tt = tt.Get("discount_code");
    string list_tt = tt.Get("list");
    string id_tt = tt.Get("id");
    string language_tt = tt.Get("language");
    string currency_tt = tt.Get("currency");
    string discount_tt = tt.Get("discount");
    string quantity_tt = tt.Get("quantity");
    string edit_tt = tt.Get("edit");
    string delete_tt = tt.Get("delete");

    // Set paging data
    ViewBag.CurrentPage = parameters.current_page;
    ViewBag.NumberOfPages = numberOfPages;
    ViewBag.NavigateUrl = "/admin_discount_codes?kw=" + Server.UrlEncode(parameters.keywords) + "&sf=" + parameters.sort_field + "&so=" + parameters.sort_order + "&pz=" + parameters.page_size + "&qp={0}";

    // Set the page title
    ViewBag.Title = discount_code_tt + " - " + list_tt.ToLower();
}

<h1>@ViewBag.Title</h1>
@Html.Partial("~/Views/admin_discount_codes/_form_menu.cshtml")

@*List of discount codes*@
<div class="listContainer">
    <table class="listTable" style="width:800px;">
        <tr>
            <th class="listTh" style="text-align:left;width:200px;">@id_tt</th>
            <th class="listTh" style="text-align:center;width:100px;">@language_tt</th>
            <th class="listTh" style="text-align:center;width:100px;">@currency_tt</th>
            <th class="listTh" style="text-align:center;width:100px;">@discount_tt</th>
            <th class="listTh" style="text-align:center;width:100px;">@quantity_tt</th>
            <th class="listTh" style="text-align:center;width:100px;">@edit_tt</th>
            <th class="listTh" style="text-align:center;width:100px;">@delete_tt</th>
        </tr>

        @for (int i = 0; i < discountCodes.Count; i++)
        {
            // Get the usage count
            Int32 usageCount = Order.GetCountByDiscountCode(discountCodes[i].id);
            
            if (i % 2 != 0)
            {
                @:<tr class="annytab-list-main-row">
            }
            else
            {
                @:<tr class="annytab-list-alt-row">
            }

            @*Columns*@
            @:<td style="text-align:left;">@discountCodes[i].id.ToString()</td>
            @:<td style="text-align:center;">@discountCodes[i].language_id.ToString()</td>
            @:<td style="text-align:center;">@discountCodes[i].currency_code</td>
            @:<td style="text-align:center;">@((discountCodes[i].discount_value * 100).ToString("##,0.##", cultureInfo) + " %")</td>
            @:<td style="text-align:center;">@usageCount.ToString()</td>
            @:<td style="text-align:center;"><input type="button" value="@edit_tt" onclick="location.href='@Url.Action("edit", "admin_discount_codes", new { id = discountCodes[i].id, returnUrl = queryString })'" /></td>
            @:<td style="text-align:center;"><input data-id="deletePost" type="button" value="@delete_tt" @(Html.Raw("data-url='/admin_discount_codes/delete/" + discountCodes[i].id + "?returnUrl=" + Server.UrlEncode(queryString) + "'")) /></td>
            @:</tr>
        }
    </table>
</div>

@* Paging menu *@
@Html.Partial("/Views/shared_admin/_paging_menu.cshtml")

@section scripts {
    <script>$("#txtSearch").focus();</script>
}