@{
    // Set the layout for the page
    Layout = "/Views/shared_admin/_standard_layout.cshtml";

    // Get form values
    CustomTheme theme = ViewBag.CustomTheme;
    List<CustomThemeTemplate> templates = ViewBag.CustomThemeTemplates;
    KeyStringList tt = ViewBag.TranslatedTexts;
    string returnUrl = ViewBag.ReturnUrl;

    // Get translated texts
    string edit_tt = tt.Get("edit");
    string theme_tt = tt.Get("theme");
    string custom_design_tt = tt.Get("custom_design");
    string new_tt = tt.Get("new");
    string template_tt = tt.Get("template");
    string default_tt = tt.Get("default");
    string export_to_zip_tt = tt.Get("export_to_zip");
    string import_from_zip_tt = tt.Get("import_from_zip");
    string id_tt = tt.Get("id");
    string name_tt = tt.Get("name");
    string file_name_tt = tt.Get("file_name");
    string comment_tt = tt.Get("comment");
    string delete_tt = tt.Get("delete");
    string restore_to_default_tt = tt.Get("restore_to_default");
    string save_tt = tt.Get("save");
    string cancel_tt = tt.Get("cancel");

    // Set the title for the page
    if (theme.id == 0)
    {
        ViewBag.Title = theme_tt + " - " + new_tt.ToLower();
    }
    else
    {
        ViewBag.Title = theme_tt + " - " + edit_tt.ToLower();
    }
}

@*Title*@
<h1>@ViewBag.Title</h1>

@*The menu bar*@
@Html.Partial("~/Views/admin_custom_design/_form_menu.cshtml")

@* Edit the theme *@
@using (Html.BeginForm("edit_theme", "admin_custom_design", FormMethod.Post))
{
    @*Hidden data*@
    <input name="returnUrl" type="hidden" value="@returnUrl" />
    
    @*Input form table*@
    <div class="annytab-input-form-table">
        <div class="annytab-input-form-row" style="@(theme.id != 0 ? "display:table-row;" : "display:none;")">
            <div class="annytab-input-form-column-label">@(id_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtId" type="text" class="annytab-form-textbox" tabindex="-1" readonly="readonly" value="@theme.id" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(name_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input id="txtName" name="txtName" type="text" class="annytab-form-textbox" value="@theme.name" /></div>
        </div>
    </div>

    @*Button panel*@
    <div style="display:block;border:1px solid #cccccc;margin:20px 0px 20px 0px;border-radius:4px;">
        <input id="btnSave" type="submit" class="annytab-form-button" value="@save_tt" />
        <input type="button" class="annytab-form-button" value="@cancel_tt" onclick="@Html.Raw("location.href='/admin_custom_design" + returnUrl + "'")" />
    </div>
}

@*Action menu bar*@
<div class="annytab-form-menubar">
    <div style="padding:2px;margin-bottom:4px;background-color:#f0f0f0;">
        <input type="button" class="annytab-form-button" value="@(new_tt + " " + template_tt.ToLower())" onclick="location.href='@Url.Action("edit_template", "admin_custom_design", new { id = theme.id, userFileName = "", returnUrl = returnUrl })'" @(theme.id == 0 ? "disabled='disabled'" : "") />
    </div>
    <div style="padding:2px;margin-bottom:4px;background-color:#f0f0f0;">
        <input id="btnRestoreToDefault" type="button" class="annytab-form-button" value="@restore_to_default_tt" onclick="location.href='@Url.Action("restore_templates_to_default", "admin_custom_design", new { id = theme.id, returnUrl = returnUrl })'" disabled="disabled" />
        <input id="toggleRestorButton" type="checkbox" class="annytab-form-checkbox" value="false" style="vertical-align:middle;cursor:pointer;" @(theme.id == 0 ? "disabled='disabled'" : "") />
    </div>
    <div style="padding:2px;margin-bottom:4px;background-color:#f0f0f0;"><input type="button" class="annytab-form-button" value="@(export_to_zip_tt)" onclick="location.href='@Url.Action("export_templates_to_zip", "admin_custom_design", new { id = theme.id, returnUrl = returnUrl })'" @(theme.id == 0 ? "disabled='disabled'" : "") /></div>
    @using (Html.BeginForm("import_templates_from_zip", "admin_custom_design", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input name="returnUrl" type="hidden" value="@returnUrl" />
        <div style="padding:2px;background-color:#f0f0f0;">
            <input name="hiddenId" type="hidden" tabindex="-1" value="@theme.id" />
            <input name="importFilesFromZip" type="file" class="annytab-form-upload" accept=".zip" value="@import_from_zip_tt" @(theme.id == 0 ? "disabled='disabled'" : "") />
            <input type="submit" class="annytab-form-button" value="@import_from_zip_tt" @(theme.id == 0 ? "disabled='disabled'" : "") />
        </div>
    }
</div>

@*List of design templates*@
<div class="annytab-list-container">
    <div class="annytab-list-table" style="width:832px;">
        <div class="annytab-list-row">
            <div class="annytab-list-column-head" style="text-align:left;width:200px;">@file_name_tt</div>
            <div class="annytab-list-column-head" style="text-align:left;width:400px;">@comment_tt</div>
            <div class="annytab-list-column-head" style="text-align:center;width:100px;">@edit_tt</div>
            <div class="annytab-list-column-head" style="text-align:center;width:100px;">@delete_tt</div>
        </div>

        @for (int i = 0; i < templates.Count; i++)
        {
            @:<div class="@(i % 2 != 0 ? "annytab-list-row-main" : "annytab-list-row-alt")">
            @:<div class="annytab-list-column" style="text-align:left;width:200px;">@templates[i].user_file_name</div>
            @:<div class="annytab-list-column" style="text-align:left;width:400px;">@templates[i].comment</div>
            @:<div class="annytab-list-column" style="text-align:center;width:100px;"><input type="button" class="annytab-form-button" value="@edit_tt" onclick="location.href='@Url.Action("edit_template", "admin_custom_design", new { id = templates[i].custom_theme_id, userFileName = templates[i].user_file_name, returnUrl = returnUrl })'" /></div>
            @:<div class="annytab-list-column" style="text-align:center;width:100px;"><input type="button" class="annytab-form-button" value="@delete_tt" onclick="location.href='@Url.Action("delete_template", "admin_custom_design", new { id = templates[i].custom_theme_id, userFileName = templates[i].user_file_name, returnUrl = returnUrl })'" /></div>
            @:</div>
        }
    </div>
</div>

<div class="annytab-basic-space"></div>

@section scripts {
    <script type="text/javascript">

        $(document).ready(new function () { $(document).on("click", "#toggleRestorButton", toggleRestoreButton); $("#txtName").focus(); });

        function toggleRestoreButton()
        {
            $('#btnRestoreToDefault').attr('disabled') ? $('#btnRestoreToDefault').removeAttr('disabled') : $('#btnRestoreToDefault').attr('disabled', 'disabled');
        }
    </script>
}