@{
    // Set the layout for the page
    Layout = "/Views/shared_admin/_standard_layout.cshtml";

    // Get form values
    List<string> customImages = ViewBag.CustomImages;
    KeyStringList tt = ViewBag.TranslatedTexts;
    string returnUrl = ViewBag.ReturnUrl;

    // Get translated texts
    string custom_images_tt = tt.Get("custom_images");
    string show_tt = tt.Get("show");
    string list_tt = tt.Get("list");
    string clear_tt = tt.Get("clear");
    string export_to_zip_tt = tt.Get("export_to_zip");
    string import_from_zip_tt = tt.Get("import_from_zip");
    string images_tt = tt.Get("images");
    string image_tt = tt.Get("image");
    string add_images_tt = tt.Get("add_images");
    string undo_tt = tt.Get("undo");
    string save_tt = tt.Get("save");
    string cancel_tt = tt.Get("cancel");

    // Set the title
    ViewBag.Title = custom_images_tt;
}

<h1>@ViewBag.Title</h1>

@*The menu bar*@
@Html.Partial("~/Views/admin_custom_design/_form_menu.cshtml")

@*Action menu bar*@
<div class="formMenuBar">
    <div style="padding:2px;margin-bottom:4px;background-color:#f0f0f0;">
        <input type="button" value="@(clear_tt + " " + images_tt.ToLower())" onclick="location.href='@Url.Action("delete_all_user_images", "admin_custom_design", new { returnUrl = returnUrl })'" />
    </div>
    <div style="padding:2px;margin-bottom:4px; background-color: #f0f0f0; ">
        <input type="button" value="@export_to_zip_tt" onclick="location.href='@Url.Action("export_images_to_zip", "admin_custom_design", new { returnUrl = returnUrl })'" />
    </div> 
    @using (Html.BeginForm("import_images_from_zip", "admin_custom_design", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input name="returnUrl" type="hidden" value="@returnUrl" />
        <div style="padding:2px;background-color:#f0f0f0;">
            <input name="importImagesFromZip" type="file" accept=".zip" />
            <input type="submit" value="@import_from_zip_tt" />
        </div>
    }
    </div>

@using (Html.BeginForm("images", "admin_custom_design", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input name="returnUrl" type="hidden" value="@returnUrl" />
    <div style="padding:0px 0px 5px 0px;margin:0px 0px 2px 0px;">@(add_images_tt + ", max 4 mb (~/Content/images/user_design/): ")<input id="uploadOtherImages" name="uploadOtherImages" type="file" class="formUpload" accept="image" multiple /><button id="clearFileUpload">@undo_tt</button></div>
    <div id="divTableOuterContainer" class="divTableOuterContainer" style="clear:both;margin:0px;border:1px solid #cccccc;border-radius:4px;overflow:auto;">
        <div id="divOtherImagesContainer" style="clear:both;display:block;position:relative;margin:0px;padding:4px;height:400px;">
            @for (int i = 0; i < customImages.Count; i++)
            {
                @:<div data-id="otherImageContainer" class="annytab-other-image-square">
                    @:<img src="@customImages[i]" alt="@image_tt" style="max-width:128px;" />
                    @:<input name="otherImageUrl" type="hidden" value="@customImages[i]" />
                    @:<img data-id="deleteOtherImage" alt="@image_tt" class="annytab-other-image-delete" src="/Content/images/annytab_design/black_circle_cross.png" />
                    @:<div>@Path.GetFileName(customImages[i])</div>
                @:</div>
            }
        </div>
    </div>

    // Save form button
    <div style="display:block;border:1px solid #cccccc;margin:20px 0px 0px 0px;border-radius:4px;">
        <input id="btnSave" type="submit" value="@save_tt" />
        <input type="button" value="@cancel_tt" onclick="@Html.Raw("location.href='/admin_custom_design" + returnUrl + "'")" />
    </div>
}

@section scripts {
    <script>$("#uploadMainImage").focus();</script>
}