@using System.Globalization
@using Annytab.Stemmer
@{
    // Set the layout for the page
    Layout = "/Views/shared_admin/_standard_layout.cshtml";

    // Declare variables
    string keywords = string.Empty;
    Int32 pageSize = 10;
    Int32 page = 1;

    // Get the keywords
    if (Request.Params["kw"] != null)
    {
        keywords = Server.UrlDecode(Request.Params["kw"]);
    }

    // Get the page number
    if (Request.Params["qp"] != null)
    {
        try
        {
            page = Int32.Parse(Request.Params["qp"]);
        }
        catch (Exception ex)
        {
            string exceptionMessage = ex.Message;
            page = 1;
        }
    }

    // Get form data
    Domain domain = ViewBag.CurrentDomain;
    Language currentLanguage = Language.GetOneById(domain.back_end_language);
    CultureInfo cultureInfo = Tools.GetCultureInfo(currentLanguage);
    Int32 bundleProductId = ViewBag.BundleProductId;
    List<ProductBundle> bundleItems = ViewBag.BundleItems;
    KeyStringList tt = ViewBag.TranslatedTexts;
    string returnUrl = ViewBag.ReturnUrl;

    // Create a clean string with keywords
    string cleanKeywords = keywords.Replace("+", "");

    // Create an array with search words
    string[] words = cleanKeywords.Split(' ');
    Stemmer stemmer = Tools.GetStemmer(currentLanguage);
    string[] steamWords = stemmer.GetSteamWords(words);

    // Count the number of posts
    Int32 count = Product.GetCountBySearch(steamWords, domain.back_end_language);

    // Get the number of pages
    Int32 numberOfPages = Convert.ToInt32(Math.Ceiling(((double)count / pageSize)));
    numberOfPages = numberOfPages == 0 ? 1 : numberOfPages;

    // Get products by keywords in search
    List<Product> products = Product.GetBySearch(steamWords, domain.back_end_language, pageSize, page, "title", "ASC");

    // Get translated texts
    string bundle_structure_tt = tt.Get("bundle_structure");
    string search_tt = tt.Get("search");
    string products_tt = tt.Get("products");
    string id_tt = tt.Get("id");
    string product_code_short_tt = tt.Get("product_code_short");
    string title_tt = tt.Get("title");
    string price_tt = tt.Get("price");
    string quantity_tt = tt.Get("quantity");
    string add_tt = tt.Get("add");
    string delete_tt = tt.Get("delete");

    // Set paging data
    ViewBag.CurrentPage = page;
    ViewBag.NumberOfPages = numberOfPages;
    ViewBag.NavigateUrl = "/admin_products/bundle_structure/" + bundleProductId.ToString() + "?returnUrl=" + Server.UrlEncode(returnUrl) + "&kw=" + Server.UrlEncode(keywords) + "&qp={0}";

    // Set the page title
    ViewBag.Title = bundle_structure_tt;
}

@*Title*@
<h1>@ViewBag.Title</h1>

@*Menu*@
@Html.Partial("~/Views/admin_products/_form_menu.cshtml")

@*List of bundle products*@
<div class="annytab-list-container">
    <div class="annytab-list-table" style="display:table;width:100%;padding-top:1px;">
        @for (int i = 0; i < bundleItems.Count; i++)
        {
            // Get the product
            Product product = Product.GetOneById(bundleItems[i].product_id, domain.back_end_language);
            
            // Create the product string
            string productString = product.title.ToString() + "<br />";
            productString += id_tt + ": " + bundleItems[i].product_id.ToString() + "<br />";
            productString += product_code_short_tt + ": " + product.product_code.ToString() + "<br />";
            productString += price_tt + ": " + product.unit_price.ToString() + "<br />";
            productString += quantity_tt + ": " + bundleItems[i].quantity.ToString("##,0.##", cultureInfo) + "<br />";

            @:<div class="annytab-list-row" style="background-color:#ffffff;">
                @:<div class="annytab-list-column" style="text-align:left;width:64px;border-bottom:1px solid #cccccc;"><img style="width:64px;" alt="@product.title" src="@Tools.GetProductMainImageUrl(bundleItems[i].product_id, domain.back_end_language, "", product.use_local_images)" /></div>
                @:<div class="annytab-list-column" style="text-align:left;vertical-align:top;width:500px;border-bottom:1px solid #cccccc;">@Html.Raw(productString)</div>
                @:<div class="annytab-list-column" style="text-align:center;width:100px;border-bottom:1px solid #cccccc;"><input type="button" class="annytab-form-button" value="@delete_tt" onclick="location.href='@Url.Action("delete_bundle_item", "admin_products", new { bundleProductId = bundleProductId, productId = bundleItems[i].product_id, returnUrl = returnUrl })'" /></div>
            @:</div>
        }
    </div>
</div>

<div class="annytab-basic-space"></div>

@*List of products*@
<div class="annytab-list-container">

    @*Search box*@
    <div style="text-align:left;padding-left:0px;margin-bottom:5px;">
        @using (Html.BeginForm("search", "admin_products", FormMethod.Post))
        {
            <input name="returnUrl" type="hidden" value="@returnUrl" />
            <input name="view" type="hidden" value="bundles" />
            <input name="hiddenMainProductId" type="hidden" value="@bundleProductId" />
            <span>@(products_tt + ": ")</span>
            <input id="txtSearch" name="txtSearch" type="text" class="annytab-form-textbox" />
            <input type="submit" class="annytab-form-button" value="@search_tt" />
        }
    </div>

    @*Products*@
    @for (int i = 0; i < products.Count; i++)
    {     
        // Create the product string
        string productString = products[i].title.ToString() + "<br />";
        productString += id_tt + ": " + products[i].id.ToString() + "<br />";
        productString += product_code_short_tt + ": " + products[i].product_code.ToString() + "<br />";
        productString += price_tt + ": " + products[i].unit_price.ToString("##,0.##", cultureInfo) + "<br />";

        using (Html.BeginForm("add_bundle_item", "admin_products", FormMethod.Post))
        {
            <input name="returnUrl" type="hidden" value="@returnUrl" />
            <input name="hiddenBundleProductId" type="hidden" value="@bundleProductId" />
            <input name="hiddenProductId" type="hidden" value="@products[i].id" />
            @:<div class="annytab-list-table" style="display:table;width:100%;padding-top:1px;">
                @:<div class="annytab-list-row" style="background-color:#ffffff;">
                    @:<div class="annytab-list-column" style="text-align:left;width:64px;border-bottom:1px solid #cccccc;"><img style="width:64px;" alt="@products[i].title" src="@Tools.GetProductMainImageUrl(products[i].id, domain.back_end_language, "", products[i].use_local_images)" /></div>
                    @:<div class="annytab-list-column" style="text-align:left;width:500px;vertical-align:top;border-bottom:1px solid #cccccc;">@Html.Raw(productString)</div>
                    @:<div class="annytab-list-column" style="text-align:left;width:100px;border-bottom:1px solid #cccccc;"><input name="quantity" type="number" class="annytab-form-textbox" value="1" min="1" step="1" /></div>
                    @:<div class="annytab-list-column" style="text-align:center;width:100px;border-bottom:1px solid #cccccc;"><input type="submit" class="annytab-form-button" value="@add_tt" /></div>
                @:</div>
            @:</div>
        } 
    }
</div>

@*Paging menu*@
@Html.Partial("/Views/shared_admin/_paging_menu.cshtml")

@section scripts {
    <script type="text/javascript">$("#txtSearch").focus();</script>
}