@{
    // Set the layout for the page
    Layout = "/Views/shared_admin/_standard_layout.cshtml";

    // Get form values
    Int32 languageId = ViewBag.LanguageId;
    List<Language> languages = ViewBag.Languages;
    Product product = ViewBag.Product;
    List<string> files = ViewBag.DownloadableFiles;
    KeyStringList tt = ViewBag.TranslatedTexts;
    string returnUrl = ViewBag.ReturnUrl;

    // Get translated texts
    string product_tt = tt.Get("product");
    string files_tt = tt.Get("files");
    string default_tt = tt.Get("default");
    string language_tt = tt.Get("language");
    string id_tt = tt.Get("id");
    string title_tt = tt.Get("title");
    string downloadable_files_tt = tt.Get("downloadable_files");
    string version_tt = tt.Get("version");
    string upload_files_tt = tt.Get("upload_files");
    string delete_tt = tt.Get("delete");
    string cancel_tt = tt.Get("cancel");

    // Set the title
    ViewBag.Title = product_tt + " - " + files_tt.ToLower();
}

<h1>@ViewBag.Title</h1>

@*Menu*@
@Html.Partial("~/Views/admin_products/_form_menu.cshtml")

@*Main form*@
@using (Html.BeginForm("add_files", "admin_products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input name="returnUrl" type="hidden" value="@returnUrl" />
    <table style="width:100%;">
        <tr>
            <td class="label">@(language_tt + ":")</td>
            <td class="input">
                <select id="selectLanguage" name="selectLanguage" class="formSelect">
                    <option value="0" data-url="@("/admin_products/files/" + product.id.ToString() + "?returnUrl=" + Server.UrlEncode(returnUrl))" @(languageId == 0 ? Html.Raw("selected='selected'") : Html.Raw(""))>@(default_tt)</option>
                    @foreach (Language language in languages)
                    {
                        <option value="@language.id" data-url="@("/admin_products/files/" + product.id.ToString() + "?returnUrl=" + Server.UrlEncode(returnUrl) + "&lang=" + language.id.ToString())" @(language.id == languageId ? Html.Raw("selected='selected'") : Html.Raw(""))>@language.name</option>
                    }
                </select>
            </td>
        </tr>
        <tr><td colspan="2">&nbsp;</td></tr>
        <tr>
            <td class="label">@(id_tt + ":")</td>
            <td class="input"><input name="txtId" type="text" class="formTextbox" tabindex="-1" readonly="readonly" value="@product.id" /></td>
        </tr>
        <tr>
            <td class="label">@(title_tt + ":")</td>
            <td class="input"><input name="txtTitle" type="text" class="formTextbox" tabindex="-1" readonly="readonly" value="@product.title" /></td>
        </tr>
        <tr>
            <td class="label">@(downloadable_files_tt + ":")</td>
            <td class="input"><input name="cbDownloadableFiles" type="checkbox" value="true" checked="checked" /></td>
        </tr>
        <tr>
            <td class="label">@(version_tt + ":")</td>
            <td class="input"><input id="txtVersionDate" name="txtVersionDate" type="text" class="formTextbox" value="@DateTime.Now.ToString("yyyy-MM-dd")" /></td>
        </tr>
        <tr><td colspan="2">&nbsp;</td></tr>
        <tr>
            <td colspan="2">
                <span>@(upload_files_tt + ": ")</span>
                <input id="uploadFiles" name="uploadFiles" type="file" class="formUpload" multiple />
                <input type="submit" value="@upload_files_tt" />
                <input type="button" value="@cancel_tt" onclick="@Html.Raw("location.href='/admin_products" + returnUrl + "'")" />
            </td>
        </tr>
        <tr><td colspan="2">&nbsp;</td></tr>
    </table>
}
    
<!-- Downloadable files -->
<div class="listContainer">
    <table class="listTable" style="width:100%;">
        @for (int i = 0; i < files.Count; i++)
        {
            using(Html.BeginForm("delete_file", "admin_products", FormMethod.Post))
            { 
                @:<tr style="background-color:#ffffff;border-bottom:1px solid #cccccc;">
                    @:<td style="display:none;"><input name="hiddenProductId" type="hidden" value="@product.id" /><input name="hiddenLanguageId" type="hidden" value="@languageId" /><input name="hiddenFileName" type="hidden" value="@Path.GetFileName(files[i])" /><input name="returnUrl" type="hidden" value="@returnUrl" /></td>
                    @:<td style="width:400px;padding:2px;">@Path.GetFileName(files[i])</td>
                    @:<td style="width:100px;padding:2px;">@Product.GetFileVersionDate(Server.MapPath(files[i])).ToString("yyyy-MM-dd")</td>
                    @:<td style="text-align:center;width:100px;"><input type="submit" value="@delete_tt" /></td>
                @:</tr>
            } 
        }
    </table>
</div>


@section scripts {
    <script type="text/javascript">
        $("#selectLanguage").focus();
        $("#txtVersionDate").datepicker({ dateFormat: 'yy-mm-dd' });
        $("#selectLanguage").on("change", function () { $(location).attr("href", $(this).find(":selected").attr("data-url")); });
    </script>
}