@{
    // Set the layout for the page
    Layout = "/Views/shared_admin/_standard_layout.cshtml";

    // Get form values
    Int32 languageId = ViewBag.LanguageId;
    List<Language> languages = ViewBag.Languages;
    Product product = ViewBag.Product;
    string mainImageUrl = ViewBag.MainImageUrl;
    List<string> otherImages = ViewBag.OtherImages;
    KeyStringList tt = ViewBag.TranslatedTexts;
    string returnUrl = ViewBag.ReturnUrl;
    string spinImageDirectory = ViewBag.SpinImagesDirectory;
    string spinImages = ViewBag.SpinImageNames;

    // Get translated texts
    string product_tt = tt.Get("product");
    string images_tt = tt.Get("images");
    string image_tt = tt.Get("image");
    string default_tt = tt.Get("default");
    string language_tt = tt.Get("language");
    string id_tt = tt.Get("id");
    string title_tt = tt.Get("title");
    string product_code_tt = tt.Get("product_code");
    string main_image_tt = tt.Get("main_image");
    string other_product_images_title_tt = tt.Get("other_product_images_title");
    string spin_image_360_tt = tt.Get("spin_image_360");
    string add_images_tt = tt.Get("add_images");
    string undo_tt = tt.Get("undo");
    string delete_tt = tt.Get("delete");
    string save_tt = tt.Get("save");
    string cancel_tt = tt.Get("cancel");
    
    // Set the title
    ViewBag.Title = product_tt + " - " + images_tt.ToLower();
}

@*Title*@
<h1>@ViewBag.Title</h1>

@*Menu*@
@Html.Partial("~/Views/admin_products/_form_menu.cshtml")

@*Main form*@
@using (Html.BeginForm("images", "admin_products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @*Hidden data*@
    <input name="returnUrl" type="hidden" value="@returnUrl" />
    
    @*Input form table*@
    <div class="annytab-input-form-table">
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(language_tt + ":")</div>
            <div class="annytab-input-form-column-input">
                <select id="selectLanguage" name="selectLanguage" class="annytab-form-select">
                    <option value="0" data-url="@("/admin_products/images/" + product.id.ToString() + "?returnUrl=" + Server.UrlEncode(returnUrl))" @(languageId == 0 ? Html.Raw("selected='selected'") : Html.Raw(""))>@(default_tt)</option>
                    @foreach (Language language in languages)
                    {
                        <option value="@language.id" data-url="@("/admin_products/images/" + product.id.ToString() + "?returnUrl=" + Server.UrlEncode(returnUrl) + "&lang=" + language.id.ToString())" @(language.id == languageId ? Html.Raw("selected='selected'") : Html.Raw(""))>@language.name</option>
                    }
                </select>
            </div>
        </div>
        <div class="annytab-basic-space"></div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(id_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtId" type="text" class="annytab-form-textbox" tabindex="-1" readonly="readonly" value="@product.id" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(title_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtTitle" type="text" class="annytab-form-textbox" tabindex="-1" readonly="readonly" value="@product.title" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(product_code_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtProductCode" type="text" class="annytab-form-textbox" tabindex="-1" readonly="readonly" value="@product.product_code" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(main_image_tt + ", max 1 mb, jpg|jpeg (1:1):")</div>
            <div class="annytab-input-form-column-input"><img id="mainImage" src="@Url.Content(mainImageUrl)" alt="@image_tt" style="max-width:300px;margin:0px 2px 0px 2px;padding:1px;border:1px solid #cccccc;" /><br /><input id="uploadMainImage" type="file" name="uploadMainImage" class="annytab-form-upload" accept="image/jpeg" /></div>
        </div>
    </div>

    @*Other product images*@
    <h2 style="margin: 20px 0px 5px 0px;border-bottom:1px solid #cccccc;">@other_product_images_title_tt</h2>
    <div style="padding:0px 0px 5px 0px;margin:0px 0px 2px 0px;">@(add_images_tt + ", max 4 mb (1:1): ")<input id="uploadOtherImages" name="uploadOtherImages" type="file" class="annytab-form-upload" accept="image/jpeg" multiple /><button id="clearFileUpload" class="annytab-form-button">@undo_tt</button></div>
    <div id="divTableOuterContainer" class="annytab-image-outer-container">
        <div id="divOtherImagesContainer" class="annytab-image-inner-container">
            @for (int i = 0; i < otherImages.Count; i++)
            {
                @:<div data-id="otherImageContainer" class="annytab-image-container">
                @:<img src="@otherImages[i]" alt="@image_tt" style="max-width:128px;" />
                @:<input name="otherImageUrl" type="hidden" value="@otherImages[i]" />
                @:<img data-id="deleteOtherImage" alt="@image_tt" class="annytab-image-delete" src="/Content/images/annytab_design/black_circle_cross.png" />
                @:<div>@Path.GetFileName(otherImages[i])</div>
                @:</div>
            }
        </div>
    </div>
    
    @*360 degree images*@
    <h2 style="margin:20px 0px 5px 0px;border-bottom:1px solid #cccccc;">@spin_image_360_tt</h2>
    <div style="display:block;padding:0px 0px 5px 0px;margin:0px 0px 2px 0px;">
        <input name="uploadSpinImages" type="file" class="annytab-form-upload" accept="image" multiple />
        <input name="btnUploadSpinImages" type="submit" class="annytab-form-button" value="@add_images_tt" />
        <input name="btnDeleteSpinImages" type="submit" class="annytab-form-button" value="@delete_tt"  />
    </div>
    
    @*Preview 360 image*@
    <div id="previewSpinImage" style="@(spinImages != "" ? "display:block;" : "display:none;")padding:0px 4px 0px 4px;overflow-x:auto;">
        <img data-directory="@spinImageDirectory" data-images="@spinImages" alt="@spin_image_360_tt" class="annytab-spin-image" />
        <div id="annytabSpinSlider" class="annytab-spin-slider"></div>
    </div>
    
    @*Button panel*@
    <div style="display:block;border:1px solid #cccccc;margin:20px 0px 0px 0px;border-radius:4px;">
        <input id="btnSave" name="btnSave" type="submit" class="annytab-form-button" value="@save_tt" />
        <input type="button" class="annytab-form-button" value="@cancel_tt" onclick="@Html.Raw("location.href='/admin_products" + returnUrl + "'")" />
    </div>
}

@section scripts {
    <link href="~/Content/jquery_css/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript">
        $("#selectLanguage").focus();
        $("#selectLanguage").on("change", function () { $(location).attr("href", $(this).find(":selected").attr("data-url")); });
        $(".annytab-spin-image").imageSpin360({ speed: 0.2, sliderId: "annytabSpinSlider" });
        $(".annytab-spin-image").resizable({ alsoResize: "#annytabSpinSlider", minWidth: 128, minHeight: 128 });
    </script>
}