@using System.Globalization
@using Annytab.Stemmer
@{
    // Set the layout for the page
    Layout = "/Views/shared_admin/_standard_layout.cshtml";

    // Get the current domain
    Domain domain = ViewBag.CurrentDomain;
    Language currentLanguage = Language.GetOneById(domain.back_end_language);
    CultureInfo cultureInfo = Tools.GetCultureInfo(currentLanguage);
    QueryParams parameters = ViewBag.QueryParams;
    string queryString = QueryParams.GetQueryString(parameters);
    KeyStringList tt = ViewBag.TranslatedTexts;

    // Create a clean string with keywords
    string cleanKeywords = parameters.keywords.Replace("+", "");

    // Create an array with search words
    string[] words = cleanKeywords.Split(' ');
    Stemmer stemmer = Tools.GetStemmer(currentLanguage);
    string[] steamWords = stemmer.GetSteamWords(words);

    // Count the number of posts
    Int32 count = Product.GetCountBySearch(steamWords, domain.back_end_language);

    // Get the number of pages
    Int32 numberOfPages = Convert.ToInt32(Math.Ceiling(((double)count / parameters.page_size)));
    numberOfPages = numberOfPages == 0 ? 1 : numberOfPages;

    // Get products by keywords in search
    List<Product> products = Product.GetBySearch(steamWords, domain.back_end_language, parameters.page_size, parameters.current_page,
        parameters.sort_field, parameters.sort_order);

    // Get translated texts
    string product_tt = tt.Get("product");
    string list_tt = tt.Get("list");
    string adjust_tt = tt.Get("adjust");
    string prices_tt = tt.Get("prices");
    string freight_prices_tt = tt.Get("freight_prices");
    string reset_tt = tt.Get("reset");
    string statistics_tt = tt.Get("statistics");
    string id_tt = tt.Get("id");
    string product_code_short_tt = tt.Get("product_code_short");
    string title_tt = tt.Get("title");
    string price_tt = tt.Get("price");
    string page_views_tt = tt.Get("page_views");
    string buys_tt = tt.Get("buys");
    string basket_tt = tt.Get("basket");
    string edit_tt = tt.Get("edit");
    string images_tt = tt.Get("images");
    string accessories_tt = tt.Get("accessories");
    string bundle_structure_tt = tt.Get("bundle_structure");
    string translate_tt = tt.Get("translate");
    string files_tt = tt.Get("files");
    string delete_tt = tt.Get("delete");
    
    // Set paging data
    ViewBag.CurrentPage = parameters.current_page;
    ViewBag.NumberOfPages = numberOfPages;
    ViewBag.NavigateUrl = "/admin_products?kw=" + Server.UrlEncode(parameters.keywords) + "&sf=" + parameters.sort_field + "&so=" + parameters.sort_order + "&pz=" + parameters.page_size + "&qp={0}";

    // Set the page title
    ViewBag.Title = product_tt + " - " + list_tt.ToLower();
}

@*Title*@
<h1>@ViewBag.Title</h1>

@*Menu*@
@Html.Partial("~/Views/admin_products/_form_menu.cshtml")

@*Action menu bar*@
<div class="annytab-form-menubar">
    @using (Html.BeginForm("adjust_unit_prices", "admin_products", FormMethod.Post))
    {
        <input name="returnUrl" type="hidden" value="@queryString" />
        <div style="padding:2px;margin-bottom:4px;background-color:#f0f0f0;">
            <input name="priceMultiplier" type="number" class="annytab-form-textbox" style="max-width:50px;" min="1" max="200" step="1" value="100" />@("% ")
            <input type="submit" class="annytab-form-button" value="@(adjust_tt + " " + prices_tt.ToLower())" />
        </div>
    }
    @using (Html.BeginForm("adjust_unit_freights", "admin_products", FormMethod.Post))
    {
        <input name="returnUrl" type="hidden" value="@queryString" />
        <div style="padding:2px;margin-bottom:4px;background-color:#f0f0f0;">
            <input name="priceMultiplier" type="number" class="annytab-form-textbox" style="max-width:50px;" min="1" max="200" step="1" value="100" />@("% ")
            <input type="submit" class="annytab-form-button" value="@(adjust_tt + " " + freight_prices_tt.ToLower())" />
        </div>
    }
    <div style="padding:2px;background-color:#f0f0f0;">
        <input type="button" class="annytab-form-button" value="@(reset_tt + " " + statistics_tt.ToLower())" onclick="location.href='@Url.Action("reset_statistics", "admin_products", new { id = 0, returnUrl = queryString })'" />
    </div>
</div>

@*List of products*@
<div class="annytab-list-container">
    <div class="annytab-list-table" style="width:1750px;">
        <div class="annytab-list-row">
            <div class="annytab-list-column-head" style="text-align:center;width:100px;">@id_tt</div>
            <div class="annytab-list-column-head" style="text-align:left;width:100px;">@product_code_short_tt</div>
            <div class="annytab-list-column-head" style="text-align:left;width:200px;">@title_tt</div>
            <div class="annytab-list-column-head" style="text-align:left;width:100px;">@price_tt</div>
            <div class="annytab-list-column-head" style="text-align:left;width:100px;">@page_views_tt</div>
            <div class="annytab-list-column-head" style="text-align:left;width:100px;">@buys_tt</div>
            <div class="annytab-list-column-head" style="text-align:left;width:100px;">@basket_tt</div>
            <div class="annytab-list-column-head" style="text-align:center;width:100px;">@edit_tt</div>
            <div class="annytab-list-column-head" style="text-align:center;width:100px;">@images_tt</div>
            <div class="annytab-list-column-head" style="text-align:center;width:100px;">@accessories_tt</div>
            <div class="annytab-list-column-head" style="text-align:center;width:130px;">@bundle_structure_tt</div>
            <div class="annytab-list-column-head" style="text-align:center;width:100px;">@translate_tt</div>
            <div class="annytab-list-column-head" style="text-align:center;width:100px;">@files_tt</div>
            <div class="annytab-list-column-head" style="text-align:center;width:100px;">@statistics_tt</div>
            <div class="annytab-list-column-head" style="text-align:center;width:100px;">@delete_tt</div>
        </div>

        @for (int i = 0; i < products.Count; i++)
        {
            @:<div class="@(i % 2 != 0 ? "annytab-list-row-main" : "annytab-list-row-alt")">
            @:<div class="annytab-list-column" style="text-align:center;width:100px;">@products[i].id.ToString()</div>
            @:<div class="annytab-list-column" style="text-align:left;width:100px;">@products[i].product_code.ToString()</div>
            @:<div class="annytab-list-column" style="text-align:left;width:200px;">@products[i].title.ToString()</div>
            @:<div class="annytab-list-column" style="text-align:left;width:100px;">@products[i].unit_price.ToString("##,0.##", cultureInfo)</div>
            @:<div class="annytab-list-column" style="text-align:left;width:100px;">@products[i].page_views.ToString("##,0.##", cultureInfo)</div>
            @:<div class="annytab-list-column" style="text-align:left;width:100px;">@products[i].buys.ToString("##,0.##", cultureInfo)</div>
            @:<div class="annytab-list-column" style="text-align:left;width:100px;">@products[i].added_in_basket.ToString("##,0.##", cultureInfo)</div>
            @:<div class="annytab-list-column" style="text-align:center;width:100px;"><input type="button" class="annytab-form-button" value="@edit_tt" onclick="location.href='@Url.Action("edit", "admin_products", new { id = products[i].id, returnUrl = queryString })'" /></div>
            @:<div class="annytab-list-column" style="text-align:center;width:100px;"><input type="button" class="annytab-form-button" value="@images_tt" onclick="location.href='@Url.Action("images", "admin_products", new { id = products[i].id, returnUrl = queryString })'" /></div>
            @:<div class="annytab-list-column" style="text-align:center;width:100px;"><input type="button" class="annytab-form-button" value="@accessories_tt" onclick="location.href='@Url.Action("accessories", "admin_products", new { id = products[i].id, returnUrl = queryString })'" /></div>
            @:<div class="annytab-list-column" style="text-align:center;width:130px;"><input type="button" class="annytab-form-button" value="@bundle_structure_tt" onclick="location.href='@Url.Action("bundle_structure", "admin_products", new { id = products[i].id, returnUrl = queryString })'" /></div>
            @:<div class="annytab-list-column" style="text-align:center;width:100px;"><input type="button" class="annytab-form-button" value="@translate_tt" onclick="location.href='@Url.Action("translate", "admin_products", new { id = products[i].id, returnUrl = queryString })'" /></div>
            @:<div class="annytab-list-column" style="text-align:center;width:100px;"><input type="button" class="annytab-form-button" value="@files_tt" onclick="location.href='@Url.Action("files", "admin_products", new { id = products[i].id, returnUrl = queryString })'" /></div>
            @:<div class="annytab-list-column" style="text-align:center;width:100px;"><input type="button" class="annytab-form-button" value="@reset_tt" onclick="location.href='@Url.Action("reset_statistics", "admin_products", new { id = products[i].id, returnUrl = queryString })'" /></div>
            @:<div class="annytab-list-column" style="text-align:center;width:100px;"><input data-id="deletePost" type="button" class="annytab-form-button" value="@delete_tt" @(Html.Raw("data-url='/admin_products/delete/" + products[i].id + "?returnUrl=" + Server.UrlEncode(queryString) + "'")) /></div>
            @:</div>
        }
    </div>
</div>

@*Paging menu*@
@Html.Partial("/Views/shared_admin/_paging_menu.cshtml")

@section scripts {
    <script type="text/javascript">$("#txtSearch").focus();</script>
}