@using System.Globalization

@{
    // Set the layout for the page
    Layout = "/Views/shared_admin/_standard_layout.cshtml";

    // Get values
    Int32 languageId = ViewBag.LanguageId;
    List<Language> languages = ViewBag.Languages;
    List<ValueAddedTax> valueAddedTaxes = ValueAddedTax.GetAll("id", "ASC");
    Product standardProduct = ViewBag.StandardProduct;
    Product translatedProduct = ViewBag.TranslatedProduct;
    string returnUrl = ViewBag.ReturnUrl;
    string error_message = ViewBag.ErrorMessage != null ? ViewBag.ErrorMessage : string.Empty;

    // Get translated texts
    KeyStringList tt = ViewBag.TranslatedTexts;
    string translate_tt = tt.Get("translate");
    string no_choice_tt = tt.Get("no_choice");
    string language_tt = tt.Get("language");
    string product_tt = tt.Get("product");
    string title_tt = tt.Get("title");
    string description_tt = tt.Get("description");
    string extras_tt = tt.Get("extras");
    string meta_description_tt = tt.Get("meta_description");
    string keywords_tt = tt.Get("keywords");
    string page_name_tt = tt.Get("page_name");
    string delivery_time_tt = tt.Get("delivery_time");
    string affiliate_link_tt = tt.Get("affiliate_link");
    string toll_freight_addition_tt = tt.Get("toll_freight_addition");
    string value_added_tax_tt = tt.Get("value_added_tax");
    string account_code_tt = tt.Get("account_code");
    string google_category_tt = tt.Get("google_category");
    string use_local_images_tt = tt.Get("use_local_images");
    string use_local_files_tt = tt.Get("use_local_files");
    string availability_status_tt = tt.Get("availability_status");
    string availability_in_stock_tt = tt.Get("availability_in_stock");
    string availability_out_of_stock_tt = tt.Get("availability_out_of_stock");
    string availability_to_order_tt = tt.Get("availability_to_order");
    string availability_preorder_tt = tt.Get("availability_preorder");
    string availability_date_tt = tt.Get("availability_date");
    string size_system_tt = tt.Get("size_system");
    string size_type_tt = tt.Get("size_type");
    string regular_tt = tt.Get("regular");
    string petite_tt = tt.Get("petite");
    string plus_tt = tt.Get("plus");
    string big_and_tall_tt = tt.Get("big_and_tall");
    string maternity_tt = tt.Get("maternity");
    string inactive_tt = tt.Get("inactive");
    string delete_tt = tt.Get("delete");
    string cancel_tt = tt.Get("cancel");

    // Set the title for the page
    ViewBag.Title = product_tt + " - " + translate_tt.ToLower();
}

<h1>@ViewBag.Title</h1>

@*Menu*@
@Html.Partial("~/Views/admin_products/_form_menu.cshtml")

@*Main form*@
@using (Html.BeginForm("translate", "admin_products", FormMethod.Post))
{
    <input name="returnUrl" type="hidden" value="@returnUrl" />
    <div id="divErrors" class="formErrorMessage" style="@(error_message != "" ? "display:block;" : "display:none;")">@Html.Raw(error_message)</div>
    <input type="hidden" name="hiddenProductId" class="formTextbox" value="@standardProduct.id" />
    <table style="width:100%;">
        <tr>
            <td class="label">@(language_tt + ":")</td>
            <td class="input">
                <select id="selectLanguage" name="selectLanguage" class="formSelect">
                    <option value="0" data-url="@("/admin_products/translate/" + standardProduct.id.ToString() + "?returnUrl=" + Server.UrlEncode(returnUrl))" @(languageId == 0 ? Html.Raw("selected='selected'") : Html.Raw(""))>@("-- " + no_choice_tt + " --")</option>
                    @foreach (Language language in languages)
                    {
                        <option value="@language.id" data-url="@("/admin_products/translate/" + standardProduct.id.ToString() + "?returnUrl=" + Server.UrlEncode(returnUrl) + "&lang=" + language.id.ToString())" @(language.id == languageId ? Html.Raw("selected='selected'") : Html.Raw(""))>@language.name</option>
                    }
                </select>
            </td>
        </tr>
        <tr><td colspan="2">&nbsp;</td></tr>
        <tr>
            <td class="label">@(title_tt + ":")</td>
            <td class="input"><input name="txtStandardTitle" type="text" class="formTextbox" tabindex="-1" readonly="readonly" value="@standardProduct.title" /></td>
        </tr>
        <tr>
            <td class="label">&nbsp;</td>
            <td class="input"><input name="txtTranslatedTitle" type="text" class="formTextbox" value="@(translatedProduct != null ? translatedProduct.title : "")" @(languageId == 0 ? Html.Raw("readonly='readonly'") : Html.Raw("")) /></td>
        </tr>
        <tr>
            <td class="label">@(description_tt + ":")</td>
            <td class="input"><textarea name="txtStandardDescription" class="formTextarea" tabindex="-1" rows="6" readonly="readonly">@standardProduct.main_content</textarea></td>
        </tr>
        <tr>
            <td class="label">&nbsp;</td>
            <td class="input"><textarea name="txtTranslatedDescription" class="formTextarea" rows="6" @(languageId == 0 ? Html.Raw("readonly='readonly'") : Html.Raw(""))>@(translatedProduct != null ? translatedProduct.main_content : "")</textarea></td>
        </tr>
        <tr>
            <td class="label">@(extras_tt + ":")</td>
            <td class="input"><textarea name="txtStandardExtraContent" class="formTextarea" tabindex="-1" rows="6" readonly="readonly">@standardProduct.extra_content</textarea></td>
        </tr>
        <tr>
            <td class="label">&nbsp;</td>
            <td class="input"><textarea name="txtTranslatedExtraContent" class="formTextarea" rows="6" @(languageId == 0 ? Html.Raw("readonly='readonly'") : Html.Raw(""))>@(translatedProduct != null ? translatedProduct.extra_content : "")</textarea></td>
        </tr>
        <tr>
            <td class="label">@(meta_description_tt + ":")</td>
            <td class="input"><textarea name="txtStandardMetadescription" class="formTextarea" tabindex="-1" rows="4" readonly="readonly">@standardProduct.meta_description</textarea></td>
        </tr>
        <tr>
            <td class="label">&nbsp;</td>
            <td class="input"><textarea name="txtTranslatedMetadescription" class="formTextarea" rows="4" @(languageId == 0 ? Html.Raw("readonly='readonly'") : Html.Raw(""))>@(translatedProduct != null ? translatedProduct.meta_description : "")</textarea></td>
        </tr>
        <tr>
            <td class="label">@(keywords_tt + ":")</td>
            <td class="input"><input name="txtStandardMetakeywords" type="text" class="formTextbox" tabindex="-1" readonly="readonly" value="@standardProduct.meta_keywords" /></td>
        </tr>
        <tr>
            <td class="label">&nbsp;</td>
            <td class="input"><input name="txtTranslatedMetakeywords" type="text" class="formTextbox" value="@(translatedProduct != null ? translatedProduct.meta_keywords : "")" @(languageId == 0 ? Html.Raw("readonly='readonly'") : Html.Raw("")) /></td>
        </tr>
        <tr>
            <td class="label">@(page_name_tt + ":")</td>
            <td class="input"><input name="txtStandardPagename" type="text" class="formTextbox" tabindex="-1" readonly="readonly" value="@standardProduct.page_name" /></td>
        </tr>
        <tr>
            <td class="label">&nbsp;</td>
            <td class="input"><input name="txtTranslatedPagename" type="text" class="formTextbox" value="@(translatedProduct != null ? translatedProduct.page_name : "")" @(languageId == 0 ? Html.Raw("readonly='readonly'") : Html.Raw("")) /></td>
        </tr>
        <tr>
            <td class="label">@(delivery_time_tt + ":")</td>
            <td class="input"><input name="txtStandardDeliveryTime" type="text" class="formTextbox" tabindex="-1" readonly="readonly" value="@standardProduct.delivery_time" /></td>
        </tr>
        <tr>
            <td class="label">&nbsp;</td>
            <td class="input"><input name="txtTranslatedDeliveryTime" type="text" class="formTextbox" value="@(translatedProduct != null ? translatedProduct.delivery_time : "")" @(languageId == 0 ? Html.Raw("readonly='readonly'") : Html.Raw("")) /></td>
        </tr>
        <tr>
            <td class="label">@(affiliate_link_tt + ":")</td>
            <td class="input"><input name="txtAffiliateLink" type="text" class="formTextbox" value="@(translatedProduct != null ? translatedProduct.affiliate_link : "")" /></td>
        </tr>
        <tr>
            <td class="label">@(toll_freight_addition_tt + ":")</td>
            <td class="input"><input name="txtTollFreight" type="number" step="any" class="formTextbox" value="@(translatedProduct != null ? translatedProduct.toll_freight_addition.ToString(CultureInfo.InvariantCulture) : "")" /></td>
        </tr>
        <tr>
            <td class="label">@(value_added_tax_tt + ":")</td>
            <td class="input">
                <select name="selectValueAddedTax" class="formSelect" @(languageId == 0 ? Html.Raw("disabled='disabled'") : Html.Raw(""))>
                    @foreach (ValueAddedTax valueAddedTax in valueAddedTaxes)
                    {
                        <option value="@valueAddedTax.id.ToString()" @(translatedProduct != null && translatedProduct.value_added_tax_id == valueAddedTax.id ? Html.Raw("selected='selected'") : Html.Raw(""))>@((valueAddedTax.value * 100).ToString() + "%")</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td class="label">@(availability_status_tt)</td>
            <td class="input">
                <select name="selectAvailabilityStatus" class="formSelect" @(languageId == 0 ? Html.Raw("disabled='disabled'") : Html.Raw(""))>
                    <option value="" @(translatedProduct != null && translatedProduct.availability_status == "" ? Html.Raw("selected='selected'") : Html.Raw(""))>@("-- " + no_choice_tt + " --")</option>
                    <option value="availability_in_stock" @(translatedProduct != null && translatedProduct.availability_status == "availability_in_stock" ? Html.Raw("selected='selected'") : Html.Raw(""))>@availability_in_stock_tt</option>
                    <option value="availability_out_of_stock" @(translatedProduct != null && translatedProduct.availability_status == "availability_out_of_stock" ? Html.Raw("selected='selected'") : Html.Raw(""))>@availability_out_of_stock_tt</option>
                    <option value="availability_to_order" @(translatedProduct != null && translatedProduct.availability_status == "availability_to_order" ? Html.Raw("selected='selected'") : Html.Raw(""))>@availability_to_order_tt</option>
                    <option value="availability_preorder" @(translatedProduct != null && translatedProduct.availability_status == "availability_preorder" ? Html.Raw("selected='selected'") : Html.Raw(""))>@availability_preorder_tt</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="label">@(availability_date_tt + " (yyyy-mm-dd):")</td>
            <td class="input"><input id="txtAvailabilityDate" name="txtAvailabilityDate" type="text" class="formTextbox" value="@(translatedProduct != null ? translatedProduct.availability_date.ToString("yyyy-MM-dd") : "2000-01-01")" @(languageId == 0 ? Html.Raw("readonly='readonly'") : Html.Raw("")) /></td>
        </tr>
        <tr>
            <td class="label">@(account_code_tt + ":")</td>
            <td class="input"><input name="txtAccountCode" type="text" class="formTextbox" value="@(translatedProduct != null ? translatedProduct.account_code : "")" @(languageId == 0 ? Html.Raw("readonly='readonly'") : Html.Raw("")) /></td>
        </tr>
        <tr>
            <td class="label">@(google_category_tt + ":")</td>
            <td class="input"><textarea name="txtGoogleCategory" class="formTextarea" rows="4" @(languageId == 0 ? Html.Raw("readonly='readonly'") : Html.Raw(""))>@(translatedProduct != null ? translatedProduct.google_category : "")</textarea></td>
        </tr>
        <tr>
            <td class="label">@(use_local_images_tt + ":")</td>
            <td class="input"><input name="cbLocalImages" type="checkbox" value="true" @(translatedProduct != null && translatedProduct.use_local_images == true ? Html.Raw("checked='checked'") : Html.Raw("")) /></td>
        </tr>
        <tr>
            <td class="label">@(use_local_files_tt + ":")</td>
            <td class="input"><input name="cbLocalFiles" type="checkbox" value="true" @(translatedProduct != null && translatedProduct.use_local_files == true ? Html.Raw("checked='checked'") : Html.Raw("")) /></td>
        </tr>
        <tr>
            <td class="label">@(size_type_tt + ":")</td>
            <td class="input">
                <select name="selectSizeType" class="formSelect" @(languageId == 0 ? Html.Raw("disabled='disabled'") : Html.Raw(""))>
                    <option value="" @(translatedProduct != null && translatedProduct.size_type == "" ? Html.Raw("selected='selected'") : Html.Raw(""))>@("-- " + no_choice_tt + " --")</option>
                    <option value="regular" @(translatedProduct != null && translatedProduct.size_type == "regular" ? Html.Raw("selected='selected'") : Html.Raw(""))>@regular_tt</option>
                    <option value="petite" @(translatedProduct != null && translatedProduct.size_type == "petite" ? Html.Raw("selected='selected'") : Html.Raw(""))>@petite_tt</option>
                    <option value="plus" @(translatedProduct != null && translatedProduct.size_type == "plus" ? Html.Raw("selected='selected'") : Html.Raw(""))>@plus_tt</option>
                    <option value="big_and_tall" @(translatedProduct != null && translatedProduct.size_type == "big_and_tall" ? Html.Raw("selected='selected'") : Html.Raw(""))>@big_and_tall_tt</option>
                    <option value="maternity" @(translatedProduct != null && translatedProduct.size_type == "maternity" ? Html.Raw("selected='selected'") : Html.Raw(""))>@maternity_tt</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="label">@(size_system_tt + ":")</td>
            <td class="input">
                <select name="selectSizeSystem" class="formSelect" @(languageId == 0 ? Html.Raw("disabled='disabled'") : Html.Raw(""))>
                    <option value="" @(translatedProduct != null && translatedProduct.size_system == "" ? Html.Raw("selected='selected'") : Html.Raw(""))>@("-- " + no_choice_tt + " --")</option>
                    <option value="US" @(translatedProduct != null && translatedProduct.size_system == "US" ? Html.Raw("selected='selected'") : Html.Raw(""))>US</option>
                    <option value="UK" @(translatedProduct != null && translatedProduct.size_system == "UK" ? Html.Raw("selected='selected'") : Html.Raw(""))>UK</option>
                    <option value="EU" @(translatedProduct != null && translatedProduct.size_system == "EU" ? Html.Raw("selected='selected'") : Html.Raw(""))>EU</option>
                    <option value="DE" @(translatedProduct != null && translatedProduct.size_system == "DE" ? Html.Raw("selected='selected'") : Html.Raw(""))>DE</option>
                    <option value="FR" @(translatedProduct != null && translatedProduct.size_system == "FR" ? Html.Raw("selected='selected'") : Html.Raw(""))>FR</option>
                    <option value="JP" @(translatedProduct != null && translatedProduct.size_system == "JP" ? Html.Raw("selected='selected'") : Html.Raw(""))>JP</option>
                    <option value="CN" @(translatedProduct != null && translatedProduct.size_system == "CN" ? Html.Raw("selected='selected'") : Html.Raw(""))>CN</option>
                    <option value="IT" @(translatedProduct != null && translatedProduct.size_system == "IT" ? Html.Raw("selected='selected'") : Html.Raw(""))>IT</option>
                    <option value="BR" @(translatedProduct != null && translatedProduct.size_system == "BR" ? Html.Raw("selected='selected'") : Html.Raw(""))>BR</option>
                    <option value="MEX" @(translatedProduct != null && translatedProduct.size_system == "MEX" ? Html.Raw("selected='selected'") : Html.Raw(""))>MEX</option>
                    <option value="AU" @(translatedProduct != null && translatedProduct.size_system == "AU" ? Html.Raw("selected='selected'") : Html.Raw(""))>AU</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="label">@(inactive_tt + ":")</td>
            <td class="input"><input name="cbInactive" type="checkbox" value="true" @(translatedProduct != null && translatedProduct.inactive == true ? Html.Raw("checked='checked'") : Html.Raw("")) @(languageId == 0 ? Html.Raw("disabled='disabled'") : Html.Raw("")) /></td>
        </tr>
    </table>

    // Save form button
    <div style="display:block;border:1px solid #cccccc;margin:20px 0px 0px 0px;border-radius:4px;">
        <input id="btnSave" type="submit" value="@translate_tt" @(languageId == 0 ? Html.Raw("disabled='disabled'") : Html.Raw("")) />
        <input data-id="deletePost" type="button" value="@delete_tt" @(Html.Raw("data-url='/admin_products/delete/" + standardProduct.id.ToString() + "?returnUrl=" + Server.UrlEncode(returnUrl) + "&lang=" + languageId.ToString() + "'")) @(languageId == 0 ? Html.Raw("disabled='disabled'") : Html.Raw("")) />
        <input type="button" value="@cancel_tt" onclick="@Html.Raw("location.href='/admin_products" + returnUrl + "'")" />
    </div>
}

@section scripts {
    <link href="~/Content/jquery_css/jquery-ui.min.css" rel="stylesheet" />
    <script type="text/javascript">
        $("#selectLanguage").focus();
        $("#txtAvailabilityDate").datepicker({ dateFormat: 'yy-mm-dd' });
        $("#selectLanguage").on("change", function () { $(location).attr("href", $(this).find(":selected").attr("data-url")); });
    </script>
}

