@using System.Globalization
@{
    // Set the layout for the page
    Layout = "/Views/shared_admin/_standard_layout.cshtml";

    // Get values
    List<ValueAddedTax> valueAddedTaxes = ValueAddedTax.GetAll("id", "ASC");
    List<Unit> units = ViewBag.Units;
    PaymentOption paymentOption = ViewBag.PaymentOption;
    KeyStringList tt = ViewBag.TranslatedTexts;
    string returnUrl = ViewBag.ReturnUrl;
    string error_message = ViewBag.ErrorMessage != null ? ViewBag.ErrorMessage : string.Empty;

    // Get translated texts
    string payment_option_tt = tt.Get("payment_option");
    string new_tt = tt.Get("new");
    string edit_tt = tt.Get("edit");
    string id_tt = tt.Get("id");
    string product_code_tt = tt.Get("product_code");
    string name_tt = tt.Get("name");
    string payment_term_code_tt = tt.Get("payment_term_code");
    string fee_tt = tt.Get("fee");
    string unit_tt = tt.Get("unit");
    string value_added_tax_tt = tt.Get("value_added_tax");
    string account_code_tt = tt.Get("account_code");
    string connected_to_tt = tt.Get("connected_to");
    string no_connection_tt = tt.Get("no_connection");
    string payson_direct_tt = tt.Get("payson_direct");
    string payson_invoice_tt = tt.Get("payson_invoice");
    string paypal_tt = tt.Get("paypal");
    string svea_invoice_tt = tt.Get("svea_invoice");
    string svea_card_payment_tt = tt.Get("svea_card_payment");
    string payex_creditcard_tt = tt.Get("payex_creditcard");
    string payex_direct_bank_tt = tt.Get("payex_direct_bank");
    string payex_invoice_tt = tt.Get("payex_invoice");
    string payex_wywallet_tt = tt.Get("payex_wywallet");
    string inactive_tt = tt.Get("inactive");
    string save_tt = tt.Get("save");
    string cancel_tt = tt.Get("cancel");

    // Set the title for the page
    if (paymentOption.id == 0)
    {
        ViewBag.Title = payment_option_tt + " - " + new_tt.ToLower();
    }
    else
    {
        ViewBag.Title = payment_option_tt + " - " + edit_tt.ToLower();
    }
}

@*Title*@
<h1>@ViewBag.Title</h1>

@*Menu*@
@Html.Partial("~/Views/admin_payment_options/_form_menu.cshtml")

@*Main form*@
@using (Html.BeginForm("edit", "admin_payment_options", FormMethod.Post))
{
    @*Hidden data*@
    <input name="returnUrl" type="hidden" value="@returnUrl" />
    <div class="annytab-form-error-message" style="@(error_message != "" ? "display:block;" : "display:none;")">@Html.Raw(error_message)</div>
    
    @*Input form table*@
    <div class="annytab-input-form-table">
        <div class="annytab-input-form-row" style="@(paymentOption.id != 0 ? "display:table-row;" : "display:none;")">
            <div class="annytab-input-form-column-label">@(id_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtId" type="text" class="annytab-form-textbox" tabindex="-1" readonly="readonly" value="@paymentOption.id" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(product_code_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input id="txtProductCode" name="txtProductCode" type="text" class="annytab-form-textbox" value="@paymentOption.product_code" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(name_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtName" type="text" class="annytab-form-textbox" value="@paymentOption.name" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(payment_term_code_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtPaymentTermCode" type="text" class="annytab-form-textbox" value="@paymentOption.payment_term_code" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(value_added_tax_tt + ":")</div>
            <div class="annytab-input-form-column-input">
                <select name="selectValueAddedTax" class="annytab-form-select">
                    @foreach (ValueAddedTax valueAddedTax in valueAddedTaxes)
                    {
                        <option value="@valueAddedTax.id.ToString()" @(paymentOption.value_added_tax_id == valueAddedTax.id ? Html.Raw("selected='selected'") : Html.Raw(""))>@((valueAddedTax.value * 100).ToString() + "%")</option>
                    }
                </select>
            </div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(fee_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtFee" type="number" step="any" class="annytab-form-textbox" value="@paymentOption.fee.ToString(CultureInfo.InvariantCulture)" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(unit_tt + ":")</div>
            <div class="annytab-input-form-column-input">
                <select name="selectUnit" class="annytab-form-select">
                    @foreach (Unit unit in units)
                    {
                        <option value="@unit.id.ToString()" @(paymentOption.unit_id == unit.id ? Html.Raw("selected='selected'") : Html.Raw(""))>@(unit.name + " (" + unit.unit_code + ")")</option>
                    }
                </select>
            </div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(account_code_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtAccountCode" type="text" class="annytab-form-textbox" value="@paymentOption.account_code" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(connected_to_tt + ":")</div>
            <div class="annytab-input-form-column-input">
                <select name="selectConnection" class="annytab-form-select">
                    <option value="0" @(paymentOption.connection == 0 ? Html.Raw("selected='selected'") : Html.Raw(""))>@no_connection_tt</option>
                    <option value="101" @(paymentOption.connection == 101 ? Html.Raw("selected='selected'") : Html.Raw(""))>@payson_direct_tt</option>
                    <option value="102" @(paymentOption.connection == 102 ? Html.Raw("selected='selected'") : Html.Raw(""))>@payson_invoice_tt</option>
                    <option value="201" @(paymentOption.connection == 201 ? Html.Raw("selected='selected'") : Html.Raw(""))>@paypal_tt</option>
                    <option value="301" @(paymentOption.connection == 301 ? Html.Raw("selected='selected'") : Html.Raw(""))>@svea_invoice_tt</option>
                    <option value="302" @(paymentOption.connection == 302 ? Html.Raw("selected='selected'") : Html.Raw(""))>@svea_card_payment_tt</option>
                    <option value="401" @(paymentOption.connection == 401 ? Html.Raw("selected='selected'") : Html.Raw(""))>@payex_creditcard_tt</option>
                    <option value="402" @(paymentOption.connection == 402 ? Html.Raw("selected='selected'") : Html.Raw(""))>@payex_direct_bank_tt</option>
                    <option value="403" @(paymentOption.connection == 403 ? Html.Raw("selected='selected'") : Html.Raw(""))>@payex_invoice_tt</option>
                    <option value="404" @(paymentOption.connection == 404 ? Html.Raw("selected='selected'") : Html.Raw(""))>@payex_wywallet_tt</option>
                </select>
            </div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(inactive_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="cbInactive" type="checkbox" class="annytab-form-checkbox" value="true" @(paymentOption != null && paymentOption.inactive == true ? Html.Raw("checked='checked'") : Html.Raw("")) /></div>
        </div>
    </div>

    @*Button panel*@
    <div style="display:block;border:1px solid #cccccc;margin:20px 0px 0px 0px;border-radius:4px;">
        <input id="btnSave" type="submit" class="annytab-form-button" value="@save_tt" />
        <input type="button" class="annytab-form-button" value="@cancel_tt" onclick="@Html.Raw("location.href='/admin_payment_options" + returnUrl + "'")" />
    </div>
}

@section scripts {
    <script type="text/javascript">$("#txtProductCode").focus();</script>
}