@{
    // Set the layout for the page
    Layout = "/Views/shared_admin/_standard_layout.cshtml";

    // Get the form data
    QueryParams parameters = ViewBag.QueryParams;
    string queryString = QueryParams.GetQueryString(parameters);
    
    // Create a clean string with keywords
    string cleanKeywords = parameters.keywords.Replace("+", "");

    // Create an array with search words
    string[] words = cleanKeywords.Split(' ');

    // Count the number of posts
    Int32 count = Domain.GetCountBySearch(words);

    // Get the number of pages
    Int32 numberOfPages = Convert.ToInt32(Math.Ceiling(((double)count / parameters.page_size)));
    numberOfPages = numberOfPages == 0 ? 1 : numberOfPages;

    // Get domains by keywords in a search
    List<Domain> domains = Domain.GetBySearch(words, parameters.page_size, parameters.current_page, parameters.sort_field, parameters.sort_order);

    // Get translated texts
    KeyStringList tt = ViewBag.TranslatedTexts;
    string domain_tt = tt.Get("domain");
    string list_tt = tt.Get("list");
    string id_tt = tt.Get("id");
    string domain_name_tt = tt.Get("domain_name");
    string edit_tt = tt.Get("edit");
    string images_tt = tt.Get("images");
    string sitemap_tt = tt.Get("sitemap");
    string marketing_tt = tt.Get("marketing");
    string delete_tt = tt.Get("delete");

    // Set paging data
    ViewBag.CurrentPage = parameters.current_page;
    ViewBag.NumberOfPages = numberOfPages;
    ViewBag.NavigateUrl = "/admin_domains?kw=" + Server.UrlEncode(parameters.keywords) + "&sf=" + parameters.sort_field + "&so=" + parameters.sort_order + "&pz=" + parameters.page_size + "&qp={0}";

    // Set the page title
    ViewBag.Title = domain_tt + " - " + list_tt.ToLower();
}

<h1>@ViewBag.Title</h1>
@Html.Partial("~/Views/admin_domains/_form_menu.cshtml")

@*List of static texts*@
<div class="listContainer">
    <table class="listTable" style="width:900px;">
        <tr>
            <th class="listTh" style="text-align:center;width:100px;">@id_tt</th>
            <th class="listTh" style="text-align:left;width:200px;">@domain_name_tt</th>
            <th class="listTh" style="text-align:center;width:100px;">@edit_tt</th>
            <th class="listTh" style="text-align:center;width:100px;">@images_tt</th>
            <th class="listTh" style="text-align:center;width:150px;">@sitemap_tt</th>
            <th class="listTh" style="text-align:center;width:150px;">@marketing_tt</th>
            <th class="listTh" style="text-align:center;width:100px;">@delete_tt</th>
        </tr>

        @for (int i = 0; i < domains.Count; i++)
        {
            if (i % 2 != 0)
            {
                @:<tr class="annytab-list-main-row">
            }
            else
            {
                @:<tr class="annytab-list-alt-row">
            }

            @*Columns*@
            @:<td style="text-align:center;">@domains[i].id.ToString()</td>
            @:<td style="text-align:left;">@domains[i].domain_name</td>
            @:<td style="text-align:center;"><input type="button" value="@edit_tt" onclick="location.href='@Url.Action("edit", "admin_domains", new { id = domains[i].id, returnUrl = queryString })'" /></td>
            @:<td style="text-align:center;"><input type="button" value="@images_tt" onclick="location.href='@Url.Action("images", "admin_domains", new { id = domains[i].id, returnUrl = queryString })'" /></td>
            @:<td style="text-align:center;"><input type="button" value="@sitemap_tt" onclick="location.href='@Url.Action("sitemap", "admin_domains", new { id = domains[i].id, returnUrl = queryString })'" /></td>
            @:<td style="text-align:center;"><input type="button" value="@marketing_tt" onclick="location.href='@Url.Action("marketing", "admin_domains", new { id = domains[i].id, returnUrl = queryString })'" /></td>
            @:<td style="text-align:center;"><input data-id="deletePost" type="button" value="@delete_tt" @(Html.Raw("data-url='/admin_domains/delete/" + domains[i].id + "?returnUrl=" + Server.UrlEncode(queryString) + "'")) /></td>
            @:</tr>
        }
    </table>
</div>

@* Paging menu *@
@Html.Partial("/Views/shared_admin/_paging_menu.cshtml")

@section scripts {
    <script>$("#txtSearch").focus();</script>
}
