@{
    // Set the layout for the page
    Layout = "/Views/shared_admin/_standard_layout.cshtml";

    // Get form values
    Domain domain = ViewBag.Domain;
    List<string> marketingFiles = ViewBag.MarketingFiles;
    KeyStringList tt = ViewBag.TranslatedTexts;
    string returnUrl = ViewBag.ReturnUrl;

    // Get translated texts
    string marketing_tt = tt.Get("marketing");
    string files_tt = tt.Get("files");
    string title_tt = tt.Get("title");
    string description_tt = tt.Get("description");
    string add_tt = tt.Get("add");
    string update_tt = tt.Get("update");
    string file_name_tt = tt.Get("file_name");
    string download_tt = tt.Get("download");
    string delete_tt = tt.Get("delete");
    string cancel_tt = tt.Get("cancel");

    // Set the title
    ViewBag.Title = marketing_tt + " - " + files_tt.ToLower();
}

@*Title*@
<h1>@ViewBag.Title</h1>

@*Menu*@
@Html.Partial("~/Views/admin_domains/_form_menu.cshtml")

@*Action menu bar*@
<div class="annytab-form-menubar">
    @using (Html.BeginForm("add_marketing_file", "admin_domains", FormMethod.Post))
    {
        <input name="returnUrl" type="hidden" value="@returnUrl" />
        <input name="hiddenDomainId" type="hidden" value="@domain.id" />
        <div style="padding:2px;margin-bottom:4px;background-color:#f0f0f0;">
            <select name="selectType" class="annytab-form-select">
                <option value="google_shopping">Google Shopping</option>
                <option value="price_spy">PriceSpy</option>
                <option value="price_runner">PriceRunner</option>
            </select>
        </div>
        <div style="padding:2px;background-color:#f0f0f0;">
            <input type="submit" class="annytab-form-button" value="@(add_tt + "/" + update_tt)" />
            <input type="button" class="annytab-form-button" value="@cancel_tt" onclick="@Html.Raw("location.href='/admin_domains" + returnUrl + "'")" />
        </div>
    }
</div>

@*List of marketing files*@
<div class="annytab-list-container">
    <div class="annytab-list-table" style="width:824px;">
        <div class="annytab-list-row">
            <div class="annytab-list-column-head" style="text-align:left;width:600px;">@file_name_tt</div>
            <div class="annytab-list-column-head" style="text-align:center;width:100px;">@download_tt</div>
            <div class="annytab-list-column-head" style="text-align:center;width:100px;">@delete_tt</div>
        </div>

        @for (int i = 0; i < marketingFiles.Count; i++)
        {
            @:<div class="@(i % 2 != 0 ? "annytab-list-row-main" : "annytab-list-row-alt")">
            @:<div class="annytab-list-column" style="text-align:left;width:600px;">@marketingFiles[i]</div>
            @:<div class="annytab-list-column" style="text-align:center;width:100px;"><input type="button" class="annytab-form-button" value="@download_tt" onclick="location.href='@Url.Action("download_marketing_file", "admin_domains", new { id = domain.id, file_name = marketingFiles[i], returnUrl = returnUrl })'" /></div>
            @:<div class="annytab-list-column" style="text-align:center;width:100px;"><input type="button" class="annytab-form-button" value="@delete_tt" onclick="location.href='@Url.Action("delete_marketing_file", "admin_domains", new { id = domain.id, file_name = marketingFiles[i], returnUrl = returnUrl })'" /></div>
            @:</div>
        }
    </div>
</div>

<div class="annytab-basic-space"></div>