@{
    // Set the layout for the page
    Layout = "/Views/shared_admin/_standard_layout.cshtml";

    // Get form values
    Domain domain = ViewBag.Domain;
    KeyStringList tt = ViewBag.TranslatedTexts;
    string returnUrl = ViewBag.ReturnUrl;
    string error_message = ViewBag.ErrorMessage != null ? ViewBag.ErrorMessage : string.Empty;

    // Get translated texts
    string domain_tt = tt.Get("domain");
    string sitemap_tt = tt.Get("sitemap");
    string path_tt = tt.Get("path");
    string priority_tt = tt.Get("priority");
    string categories_tt = tt.Get("categories");
    string products_tt = tt.Get("products");
    string change_frequency_tt = tt.Get("change_frequency");
    string save_tt = tt.Get("save");
    string cancel_tt = tt.Get("cancel");

    // Set the title for the page
    ViewBag.Title = domain_tt + " - " + sitemap_tt.ToLower();
}

@*Title*@
<h1>@ViewBag.Title</h1>

@*Menu*@
@Html.Partial("/Views/admin_domains/_form_menu.cshtml")

@*Main form*@
@using (Html.BeginForm("sitemap", "admin_domains", FormMethod.Post))
{
    @*Hidden data*@
    <input name="returnUrl" type="hidden" value="@returnUrl" />
    <input type="hidden" name="hiddenDomainId" value="@domain.id" />
    <div class="annytab-form-error-message" style="@(error_message != "" ? "display:block;" : "display:none;")">@Html.Raw(error_message)</div>
    
    @*Input form table*@
    <div class="annytab-input-form-table">
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(path_tt + ":")</div>
            <div class="annytab-input-form-column-input"><div class="annytab-form-label">@("/Content/domains/" + domain.id.ToString() + "/sitemaps/Sitemap.xml.gz")</div></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(priority_tt + " " + categories_tt.ToLower() + ":")</div>
            <div class="annytab-input-form-column-input">
                <select id="selectPriorityCategories" name="selectPriorityCategories" class="annytab-form-select">
                    <option value="0.0">0.0</option>
                    <option value="0.1">0.1</option>
                    <option value="0.2">0.2</option>
                    <option value="0.3">0.3</option>
                    <option value="0.4">0.4</option>
                    <option value="0.5">0.5</option>
                    <option value="0.6">0.6</option>
                    <option value="0.7">0.7</option>
                    <option value="0.8">0.8</option>
                    <option value="0.9">0.9</option>
                    <option value="1.0" selected="selected">1.0</option>
                </select>
            </div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(priority_tt + " " + products_tt.ToLower() + ":")</div>
            <div class="annytab-input-form-column-input">
                <select name="selectPriorityProducts" class="annytab-form-select">
                    <option value="0.0">0.0</option>
                    <option value="0.1">0.1</option>
                    <option value="0.2">0.2</option>
                    <option value="0.3">0.3</option>
                    <option value="0.4">0.4</option>
                    <option value="0.5">0.5</option>
                    <option value="0.6">0.6</option>
                    <option value="0.7">0.7</option>
                    <option value="0.8">0.8</option>
                    <option value="0.9">0.9</option>
                    <option value="1.0" selected="selected">1.0</option>
                </select>
            </div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(change_frequency_tt + ":")</div>
            <div class="annytab-input-form-column-input">
                <select name="selectChangeFrequency" class="annytab-form-select">
                    <option value="never">never</option>
                    <option value="yearly">yearly</option>
                    <option value="monthly" selected="selected">monthly</option>
                    <option value="weekly">weekly</option>
                    <option value="daily">daily</option>
                    <option value="hourly">hourly</option>
                    <option value="always">always</option>
                </select>
            </div>
        </div>
    </div>

    @*Button panel*@
    <div style="display:block;border: 1px solid #cccccc;margin: 20px 0px 0px 0px;border-radius: 4px;">
        <input id="btnSave" type="submit" class="annytab-form-button" value="@save_tt" />
        <input type="button" class="annytab-form-button" value="@cancel_tt" onclick="@Html.Raw("location.href='/admin_domains" + returnUrl + "'")" />
    </div>
}

@section scripts {
    <script type="text/javascript">$("#selectPriorityCategories").focus();</script>
}