@{
    // Set the layout for the page
    Layout = "/Views/shared_admin/_standard_layout.cshtml";

    // Get values
    Campaign campaign = ViewBag.Campaign;
    List<Language> languages = ViewBag.Languages;
    KeyStringList tt = ViewBag.TranslatedTexts;
    string returnUrl = ViewBag.ReturnUrl;
    string imageUrl = campaign.image_name != "" ? Tools.GetCampaignImageUrl(campaign.image_name) : "/Content/images/annytab_design/no_image_wide.jpg";

    // Set the error message
    string error_message = ViewBag.ErrorMessage != null ? ViewBag.ErrorMessage : string.Empty;

    // Get translated texts
    string campaign_tt = tt.Get("campaign");
    string new_tt = tt.Get("new");
    string edit_tt = tt.Get("edit");
    string id_tt = tt.Get("id");
    string no_choice_tt = tt.Get("no_choice");
    string language_tt = tt.Get("language");
    string name_tt = tt.Get("name");
    string category_tt = tt.Get("category");
    string url_tt = tt.Get("url");
    string inactive_tt = tt.Get("inactive");
    string image_tt = tt.Get("image");
    string save_tt = tt.Get("save");
    string cancel_tt = tt.Get("cancel");

    // Set the title for the page
    if (campaign.id == 0)
    {
        ViewBag.Title = campaign_tt + " - " + new_tt.ToLower();
    }
    else
    {
        ViewBag.Title = campaign_tt + " - " + edit_tt.ToLower();
    }
}

@*Title*@
<h1>@ViewBag.Title</h1>

@*Menu*@
@Html.Partial("/Views/admin_campaigns/_form_menu.cshtml")

@*Main form*@
@using (Html.BeginForm("edit", "admin_campaigns", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input name="returnUrl" type="hidden" value="@returnUrl" />
    <div class="annytab-form-error-message" style="@(error_message != "" ? "display:block;" : "display:none;")">@Html.Raw(error_message)</div>
    
    @*Input form table*@
    <div class="annytab-input-form-table">
        <div class="annytab-input-form-row" style="@(campaign.id != 0 ? "display:table-row;" : "display:none;")">
            <div class="annytab-input-form-column-label">@(id_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtId" type="text" class="annytab-form-textbox" tabindex="-1" readonly="readonly" value="@campaign.id" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(language_tt + ":")</div>
            <div class="annytab-input-form-column-input">
                <select id="selectLanguage" name="selectLanguage" class="annytab-form-select">
                    <option value="0" @(campaign.language_id == 0 ? Html.Raw("selected='selected'") : Html.Raw(""))>@("-- " + no_choice_tt + " --")</option>
                    @foreach (Language language in languages)
                    {
                        <option value="@language.id" @(language.id == campaign.language_id ? Html.Raw("selected='selected'") : Html.Raw(""))>@language.name</option>
                    }
                </select>
            </div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(name_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtName" type="text" class="annytab-form-textbox" value="@campaign.name" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(url_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="txtUrl" type="text" class="annytab-form-textbox" value="@campaign.link_url" /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(category_tt + ":")</div>
            <div class="annytab-input-form-column-input">
                <select name="selectCategory" class="annytab-form-select">
                    <option value="slideshow" @(campaign.category_name == "slideshow" ? Html.Raw("selected='selected'") : Html.Raw(""))>Slideshow</option>
                    <option value="left" @(campaign.category_name == "left" ? Html.Raw("selected='selected'") : Html.Raw(""))>Left</option>
                    <option value="right" @(campaign.category_name == "right" ? Html.Raw("selected='selected'") : Html.Raw(""))>Right</option>
                </select>
            </div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(inactive_tt + ":")</div>
            <div class="annytab-input-form-column-input"><input name="cbInactive" type="checkbox" class="annytab-form-checkbox" value="true" @(campaign != null && campaign.inactive == true ? Html.Raw("checked='checked'") : Html.Raw("")) /></div>
        </div>
        <div class="annytab-input-form-row">
            <div class="annytab-input-form-column-label">@(image_tt + " [Max 1 MB]")</div>
            <div class="annytab-input-form-column-input"><input id="uploadCampaignImage" name="campaignImage" type="file" class="annytab-form-upload" accept="image" /></div>
        </div>
    </div>

    @*The image*@
    <div style="display:block;margin-top:20px;"><img id="campaignImage" src="@imageUrl" alt="@image_tt" style="max-width:100%;border:1px solid #cccccc;" /></div>

    @*Button panel*@
    <div style="display:block;border:1px solid #cccccc;margin:20px 0px 0px 0px;border-radius:4px;">
        <input id="btnSave" type="submit" class="annytab-form-button" value="@save_tt" />
        <input type="button" class="annytab-form-button" value="@cancel_tt" onclick="@Html.Raw("location.href='/admin_campaigns" + returnUrl + "'")" />
    </div>
}

@section scripts {
    <script type="text/javascript">$("#selectLanguage").focus();</script>
}