@using System.Globalization
@{
    // Paging variables
    Int32 pageSize = 5;
    Int32 page = 1;

    // Get the page number
    if (Request.Params["qp"] != null)
    {
        try
        {
            page = Int32.Parse(Request.Params["qp"]);
        }
        catch (Exception ex)
        {
            string exceptionMessage = ex.Message;
            page = 1;
        }
    }

    // Get form values
    Domain domain = ViewBag.CurrentDomain;
    Customer customer = ViewBag.Customer;
    KeyStringList tt = ViewBag.TranslatedTexts;
    CultureInfo cultureInfo = ViewBag.CultureInfo;

    // Count the number of posts
    Int32 count = ProductReview.GetCountByCustomerId(customer.id);

    // Get the number of pages
    Int32 numberOfPages = Convert.ToInt32(Math.Ceiling(((double)count / pageSize)));
    numberOfPages = numberOfPages == 0 ? 1 : numberOfPages;

    // Get all the reviews by the customer
    List<ProductReview> reviews = ProductReview.GetByCustomerId(customer.id, pageSize, page, "review_date", "DESC");

    // Get translated texts
    string reviews_tt = tt.Get("reviews");
    string edit_tt = tt.Get("edit");
    string rating_tt = tt.Get("rating");
    string delete_tt = tt.Get("delete");
    
    // Set the title
    string title = edit_tt + " " + reviews_tt.ToLower();

    // Set meta data
    ViewBag.Title = title;
    ViewBag.MetaTitle = title;
    ViewBag.MetaDescription = title;
    ViewBag.MetaKeywords = title;
    ViewBag.MetaCanonical = domain.web_address + "/customer/edit_reviews";
    ViewBag.MetaRobots = "noindex, nofollow";

    // Set paging data
    ViewBag.CurrentPage = page;
    ViewBag.NumberOfPages = numberOfPages;
    ViewBag.NavigateUrl = "/customer/edit_reviews?qp={0}";

    // Set the layout for the page
    Layout = domain.custom_theme_id == 0 ? "/Views/shared_front/_standard_layout.cshtml" : "/Views/theme/front_standard_layout.cshtml";
}

@* Title *@
<h1>@ViewBag.Title</h1>

@* Menu *@
@Html.Partial(domain.custom_theme_id == 0 ? "/Views/customer/_menu.cshtml" : "/Views/theme/customer_menu.cshtml")

@* Reviews *@
<div class="annytab-basic-container">
    @for(int i = 0; i < reviews.Count; i++)
    {
        @* Review input form *@
        using (Html.BeginForm("edit_review", "customer", FormMethod.Post))
        {
            @* Get the product *@
            Product product = Product.GetOneById(reviews[i].product_id, reviews[i].language_id);
            
            @* Hidden data *@
            <input name="hiddenId" type="hidden" value="@reviews[i].id" />
        
            @* Input form for a review *@
            <div class="annytab-basic-inner-container">
                <div style="margin:0px 0px 0px 2px;">
                    <span class="annytab-basic-text-bold">@product.title</span><span>@(" | ")</span><span class="annytab-basic-text-normal">@reviews[i].review_date.ToString("d", cultureInfo)</span><br />
                </div>
                <div style="margin:6px 0px 6px 2px;">
                    <span class="annytab-basic-text-normal">@(rating_tt + ": ")</span>
                    <input id="@("user_vote" + i.ToString())" name="userVote" type="range" value="@(reviews[i].rating.ToString(CultureInfo.InvariantCulture))" step="0.25">
                    <div class="rateit" data-rateit-backingfld="@("#user_vote" + i.ToString())" data-rateit-resetable="false" data-rateit-ispreset="true"
                         data-rateit-min="0" data-rateit-max="5">
                    </div>
                </div>
                <div style="margin:0px 6px 0px 2px;">
                    <textarea name="txtReviewText" class="annytab-form-textarea" rows="5" style="margin:0px;width:100%;">@reviews[i].review_text.Replace("<br />", Environment.NewLine)</textarea>
                </div>
                <div style="clear:both;margin:4px 0px 0px 0px;">
                    <input type="submit" value="@edit_tt" class="annytab-basic-button" />
                    <input type="button" class="annytab-basic-button" value="@delete_tt" onclick="location.href='@Url.Action("delete_review", "customer", new { id = reviews[i].id })'">
                </div>
            </div>
        }
    }
</div>

<div class="annytab-basic-space"></div>

@* Paging menu *@
@Html.Partial(domain.custom_theme_id == 0 ? "/Views/shared_front/_paging_menu.cshtml" : "/Views/theme/front_paging_menu.cshtml")

@section scripts {
    <script type="text/javascript">$("#txtSearch").focus();</script>
    @Styles.Render(domain.custom_theme_id == 0 ? "/Content/annytab_css/rateit.css" : "/Content/theme/rateit.css")
    @Scripts.Render("/Scripts/jquery.rateit.min.js") 
}