@{
    // Get form values
    Domain domain = ViewBag.CurrentDomain;
    List<Category> mainCategories = ViewBag.MainCategories;
    Customer customer = ViewBag.Customer;
    KeyStringList tt = ViewBag.TranslatedTexts;
    string error_message = ViewBag.ErrorMessage != null ? ViewBag.ErrorMessage : string.Empty;

    // Get translated texts
    string forgot_tt = tt.Get("forgot");
    string email_tt = tt.Get("email");
    string password_tt = tt.Get("password");
    string get_tt = tt.Get("get");

    // Set meta data
    string title = forgot_tt + " " + password_tt.ToLower();
    ViewBag.Title = title;
    ViewBag.MetaTitle = title;
    ViewBag.MetaDescription = title;
    ViewBag.MetaKeywords = title;
    ViewBag.MetaCanonical = domain.web_address + "/customer/forgot_email_password";
    ViewBag.MetaRobots = "noindex, follow";

    // Set the layout for the page
    Layout = domain.custom_theme_id == 0 ? "/Views/shared_front/_standard_layout.cshtml" : "/Views/theme/front_standard_layout.cshtml";
}

@* Title *@
<h1>@ViewBag.Title</h1>

@* The forgot email/password form *@
@using (Html.BeginForm("forgot_email_password", "customer", FormMethod.Post))
{
    @* Error box *@
    <div class="annytab-form-errorbox" style="@(error_message != "" ? "display:block;" : "display:none;")">@Html.Raw(error_message)</div>
    
    @* Form to get email or password *@
    <div class="annytab-basic-container">
        <div style="clear:both;">
            <span class="annytab-form-label">@email_tt</span><br />
            <input id="txtEmail" name="txtEmail" type="text" class="annytab-form-textbox" value="@customer.email" />
        </div>
        <div style="clear:both;margin:4px 0px 0px 0px;">
            <input id="btnGet" type="submit" value="@get_tt" class="annytab-basic-button" />
        </div>
    </div>
    
    <div class="annytab-basic-space"></div>
}

@section scripts {
    <script type="text/javascript">$("#txtEmail").focus();</script>
}